db.sqlite3
*/__pycache__/*
*.pyc
*/migrations/*
*/migrations
media/*
.DS_Store
*/.DS_Store
venv/*
.idea
static/admin/
static/ckeditor/
node_modules/
package-lock.json
logs/*
pg_data/*
antorus/.env
cerbot/