/* products_section
========================= */

.products_sections {
    flex-grow: 1;
}

.products_block h1 {
    font-size: 24px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
    user-select: none;
}

.products_block > .products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}


@media (max-width: 900px) {
    .products_block {
        width: 65%;
    }

    .nav_bar {
        width: 33%;
    }
}

@media (max-width: 750px) {
    .products_block {
        width: 55%;
    }

    .nav_bar {
        width: 43%;
    }
}

@media (max-width: 600px) {
    .products_content {
        flex-direction: column;
    }

    .products_block {
        width: 100%;
    }
}