.checkout_section {
    flex-grow: 1;
}

.checkout_section h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.checkout_content {
    display: flex;
    justify-content: space-between;
}

.checkout_left {
    width: 60%;
}

.checkout_left h3 {
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid rgb(47, 47, 47);
}

.character {
    display: flex;
    justify-content: space-between;
}

.name {
    width: 45%;
}

.tag {
    width: 45%;
}

.account {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.account_label {
    margin-left: 10px;
}

form label {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.required:after {
    position: absolute;
    content: '*';
    color: red;
    font-size: 25px;
    top: -4px;
    right: -12px;
}

form input, form textarea {
    border: 1px solid rgb(47, 47, 47);
    background-color: rgb(31, 31, 31);
    font-size: 16px;
    height: 34px;
    padding: 0 17px;
    color: white;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
}

form input.input_error {
    border: 1px solid darkred;
}

#comment {
    height: 100px;
    resize: vertical;
}

#checkbox {
    height: 15px;
    width: fit-content;
    margin-right: 10px;
}

.payment_section p {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}

.payment_options {
    display: flex;
    margin-bottom: 10px;
}

.payment_options .payment_option {
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 40px;
    margin-right: 10px;
}

.payment_options > .payment_option:nth-child(1) {
    background-image: url('../img/credit-card.png');
    background-color: #f4f4f4;
}

.payment_options > .payment_option:nth-child(2) {
    background-image: url('../img/paypal.png');
    background-color: #f4f4f4;
}

.payment_options .payment_option:nth-child(3) {
    background-image: url('../img/cript_1.png');
    background-color: #02a77c;
}

.payment_options .payment_option:nth-child(4) {
    background-image: url('../img/cript_2.png');
    background-color: #f7931a;
}

.payment_options .payment_option:nth-child(5) {
    background-image: url('../img/cript_3.png');
    background-color: #bebebe;
}

.payment_options .payment_option:nth-child(6) {
    background-image: url('../img/cript_4.png');
    background-color: #ffffff;
}

.payment_option_active {
    border: 3px solid #00FF00;
}

.payment_information {

}

.account label {
    transform: translateY(-3px);
}

.checkout_right {
    width: 35%;
    border: 1px solid rgb(47, 47, 47);
    padding: 20px;
    height: fit-content;
}

.checkout_right h3 {
    padding-bottom: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    border-bottom: 1px solid rgb(47, 47, 47);
}

.checkout_right .product {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
    margin-bottom: 20px;
}

.product_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.checkout_right .product_name {
    width: 80%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.checkout_right .product_price, .checkout_right .options {
    color: rgb(136, 136, 136);
    font-size: 14px;
    white-space: nowrap;
}

.checkout_right .subtotal, .checkout_right .total {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.subtotal p {
    color: rgb(136, 136, 136);
    font-size: 16px;
}

.coupon {
    display: flex;
    justify-content: space-between;
    color: rgb(142, 142, 142);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.coupon_remove {
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
}

.coupon_remove:hover {
    color: rgb(142, 142, 142);
    transition: color 0.3s ease;
}

.checkout_right .total {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
}

.checkout_right .total p {
    font-size: 16px;
    color: white;
}

.agree {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.agree label {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 300;
    transform: translateY(-3px);
    margin-left: 10px;
}

.button button {
    display: block;
    text-decoration: none;
    background-color: rgb(40, 168, 5);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.button button:hover {
    background-color: #2A2A2A;
    transition: background-color 0.3s ease;
}

@media (max-width: 1000px) {
    .checkout_content {
        flex-direction: column;
        align-items: center;
    }

    .checkout_left {
        width: 100%;
    }

    .checkout_right {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .checkout_right {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .character {
        flex-direction: column;
        align-items: center;
    }

    .name, .tag {
        width: 100%;
    }

    .checkout_right {
        width: 90%;
    }

    .checkout_right .product_name {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .checkout_right {
        width: 100%;
    }

    .checkout_right .product_name {
        font-size: 12px;
    }
}