.faq_section h2 {
    color: white;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.faq_section h4 {
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.faq_section p {
    font-size: 16px;
    color: rgb(142, 142, 142);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: justify;
}

.faq_section ol {
    color: rgb(142, 142, 142);
    line-height: 20px;
    margin-bottom: 25px;
}

.faq_section li {
    font-size: 16px;
    left: 28px;
    font-weight: 400;
    margin-bottom: 15px;
    list-style-type: decimal;
    margin-left: 20px;
}

.faq_section li:last-child {
    margin-bottom: 0;
}