/* footer_section
========================= */

footer {
    margin-top: 50px;
    background-color: #222222;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer_left {
    width: 40%;
}

.footer_left p {
    font-size: 14px;
    color: white;
    line-height: 25px;
}

.footer_right {
    width: 58%;
    display: flex;
    justify-content: flex-end;
}

.footer_right a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}

.footer_right a:last-child {
    border-right: none;
    padding-right: 0;
}

.footer_right a:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

@media (max-width: 830px) {
    .footer_left {
        width: 60%;
    }

    .footer_right {
        width: 38%;
    }
}

@media (max-width: 750px) {
    .footer_right a {
        font-size: 10px;
    }

    .footer_left p {
        font-size: 10px;
    }

    .footer_right {
        min-width: 215px;
    }
}

@media (max-width: 500px) {
    footer {
        margin-top: 20px;
    }
}

@media (max-width: 450px) {
    .footer_content {
        flex-direction: column;
    }

    .footer_left p {
        text-align: center;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .footer_left {
        width: 65%;
    }
}