/* top_bar
______________________________________________ */

.top_bar {
    border-bottom: 1px solid rgb(47, 47, 47);
    border-top: 1px solid rgb(47, 47, 47);
}

.head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25px;
}

.contact_support {
    height: 100%;
    display: flex;
    align-items: center;
}

.contact_support > a, .login > p, .account > p {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.contact_support > a {
    padding-right: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.login, .account {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.login > p, .account > p {
    padding-left: 10px;
    cursor: pointer;
}

.login_accordion {
    display: none;
    width: 380px;
    position: absolute;
    padding: 20px;
    top: 24px;
    right: 0;
    border: 1px solid rgb(47, 47, 47);
    background-color: rgb(26, 26, 26);
    z-index: 1;
}

.required:after {
    position: absolute;
    content: '*';
    color: red;
    font-size: 25px;
    top: -4px;
    right: -12px;
}

.login_accordion button {
    color: white;
    padding: 10px 25px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    margin-bottom: 20px;
}

.login_accordion button:hover {
    background-color: #555555;
    transition: background-color 0.3s ease;
}

.lost_password_link {
    float: right;
    margin-bottom: 20px;
}

.lost_password_link a {
    color: rgb(46, 157, 16);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.lost_password_link a:hover {
    color: #8e8e8e;
    transition: color 0.3s ease;
}

.contact_support > a:hover, .login > p:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.new_client p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgb(142, 142, 142);
}

.new_client a {
    text-decoration: none;
    color: rgb(46, 157, 16);
    font-weight: 400;
    font-size: 16px;
}

.new_client a:hover {
    color: #8e8e8e;
    transition: color 0.3s ease;
}

.account_accordion {
    display: none;
    flex-direction: column;
    width: fit-content;
    position: absolute;
    padding: 20px;
    top: 25px;
    right: 0;
    border: 1px solid rgb(47, 47, 47);
    background-color: rgb(26, 26, 26);
    z-index: 1;
}

.account_accordion a {
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(136, 136, 136);
    margin-bottom: 20px;
    white-space: nowrap;
}

.account_accordion a:hover {
    color: white;
    transition: color 0.3s ease;
}

.account_accordion a:last-child {
    margin-bottom: 0;
}

.admin {
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

/* header
______________________________________________ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid rgb(47, 47, 47);
}

.header input {
    background-color: rgb(31, 31, 31);
    border-color: rgb(47, 47, 47);
    border-width: 1px;
    font-size: 16px;
    height: 34px;
    padding: 0 17px;
    color: white;
    outline: none;
}

.logo {
    transform: translateX(-25%);
}

.logo img {
    max-width: 200px;
}

.cart {
    position: relative;
}

.cart_count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #45db428c;
    top: -2px;
    right: -8px;
}

.cart_count p {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

