body {
    background: none;
    background-color: #0d0f0d;
    display: block;
}

/* intro_section
========================= */

.intro_section {
    background-repeat: no-repeat;
    background-image: url('../img/intro.png');
    background-size: cover;
    background-position: 0% 33%;
    height: 500px;
}

.intro_content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 40px;
}

.intro_content > p, .intro_content > h2 {
    color: white;
    font-weight: 900;
    user-select: none;
}

.intro_content > p {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 80px;
    margin-bottom: 70px;
}

.intro_content > h2 {
    font-size: 75px;
    margin-bottom: 70px;
}

.intro_buttons {
    display: flex;
}

.intro_buttons a {
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(4, 211, 56, 0.9);
    padding: 20px 25px;
}

.intro_buttons a:hover {
    background-color: rgb(117, 244, 78);
    transition: background-color 0.3s ease;
}

.intro_buttons p {
    cursor: pointer;
    display: block;
    color: white;
    letter-spacing: 2px;
    padding: 20px 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-left: 20px;
}

.intro_buttons p:hover {
    color: #0d0f0d;
    background-color: white;
    transition: all 0.3s ease;
}

/* products_section
========================= */

.products_content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.nav_bar {
    width: 23%;
    margin-bottom: 20px;
}

.nav_link {
    border-left: 3px solid transparent;
}

.nav_link, .accordion a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: #2A2A2A;
    padding: 0 10px;
    margin-bottom: 2px;
}

.nav_link.active {
    background-color: #404141;
    border-left-color: #45db42;
    margin-bottom: 0;
}

.nav_link > a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 900;
    user-select: none;
}

.nav_link > a:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.accordion {
    flex-direction: column;
}

.accordion a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    user-select: none;
    margin-bottom: 0;
    background-color: #353535;
}

.accordion a:last-child {
    margin-bottom: 2px;
}

.nav_link span {
    position: relative;
}

.nav_link span:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    left: -20px;
    background-color: white;
}

.nav_link span:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    left: -20px;
    background-color: white;
    transform: rotate(90deg);
}

.nav_link.open span:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    left: -20px;
    background-color: white;
    transform: rotate(0deg);
}

.products_block {
    width: 75%;
}

.products_block h2 {
    font-size: 24px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
    user-select: none;
}

.products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-decoration: none;
    width: 33%;
    padding: 0 20px;
}

.product img {
    width: 100%;
    margin-bottom: 10px;
}

.product h4 {
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
}

.product h4:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.product p {
    color: rgb(189, 189, 189);
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
}

.price p {
    margin-right: 5px;
}

/* copywriting_section
========================= */

.text_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text_block img {
    width: 350px;
    height: 320px;
}

.text {
    width: 100%;
    padding: 0 10px;
}

.text p {
    text-align: justify;
    color: #8e8e8e;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.text p:last-child {
    margin-bottom: 0;
}

.text h4 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.text ul {
    color: #8e8e8e;
    margin-left: 20px;
    margin-bottom: 20px;
}

.text ul li {
    margin-bottom: 10px;
}

/* about_section
========================= */

.about_section {
    margin-bottom: 60px;
}

.about_section h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about_content {
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
}

.about_item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 60px;
}

.about_item img {
    margin-bottom: 20px;
}

.about_item h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.about_item p {
    font-size: 16px;
    color: rgb(142, 142, 142);
    text-align: center;
    line-height: 25px;
}

/* reviews_section
========================= */

.container > h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* reviews_section
========================= */

.forums_content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.forums_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.forums_item img {
    width: 100%;
}

.forums_item h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.forums_item a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    color: #8e8e8e;
}

.forums_item a:hover {
    color: white;
    transition: color 0.3s ease;
}

@media (max-width: 830px) {
    .about_item {
        padding: 60px 10px 40px;
    }

    .product {
        width: 50%;
    }

    .products_block {
        width: 68%;
    }
}

@media (max-width: 750px) {
    #nav_bar {
        display: none;
    }

    .nav_bar {
        width: 100%;
        margin-bottom: 20px;
    }

    .intro_content > h2 {
        font-size: 60px;
    }

    .products_content {
        flex-direction: column;
    }

    .products_block {
        width: 100%;
    }

    .text_block img {
        width: 300px;
        height: 280px;
    }

    .text p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .about_content {
        flex-direction: column;
    }

    .about_item {
        width: 100%;
        padding: 20px 10px;
    }

    .forums_content {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .forums_item {
        width: 50%;
        margin-bottom: 20px;
    }

    .intro_content > h2 {
        font-size: 50px;
    }

    .intro_buttons a {
        font-size: 14px;
    }

    .text_block img {
        width: 300px;
        height: 280px;
    }
}

@media (max-width: 500px) {

    .intro_content > h2 {
        font-size: 35px;
    }

    .intro_buttons {
        flex-direction: column;
        align-items: center;
    }

    .intro_buttons a {
        margin-bottom: 20px;
    }

    .intro_buttons p {
        margin-left: 0;
    }

    .intro_content {
        padding-left: 0;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .product {
        width: 100%;
    }

    .text_block img {
        width: 100%;
        height: auto;
    }

    .forums_item {
        width: 100%;
    }

    .reviews_section {
        margin-bottom: 40px;
    }
}


