body {
    background: none;
    background-color: #0d0f0d;
    display: block;
}

/* intro_section
========================= */

.slider {
    position: relative;
    overflow: hidden;
}

.sliders {
    display: flex;
    transition: all 1.5s ease-in;
    transform: translateX(0);
}

.switch_buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.switch_buttons_item {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
}

.switch_buttons_item.switch_buttons_item_active {
    background-color: #00ad4e;
}

.slide_one, .slide_two > .container {
    display: flex;
    justify-content: center;
}

.intro_section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 33%;
    height: 500px;
    min-width: 100%;
}

.intro_section.slide_one {
    background-image: url('../img/Home_Banner_1.jpg');
}

.intro_section.slide_two {
    background-image: url('../img/Home_Banner_2.jpg');
}

.intro_content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 0;
}

.content_one > h2 {
    color: white;
    font-weight: 900;
    user-select: none;
    font-size: 52px;
    margin: 0;
}

.content_one > p:first-child {
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 400;
}

.content_one > p {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: white;
    max-width: 670px;
    text-align: center;
    user-select: none;
}

.intro_buttons {
    display: flex;
    margin-bottom: 30px;
}

.intro_buttons a, .show_all a {
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(4, 211, 56, 0.9);
    padding: 20px 25px;
}

.intro_buttons a:hover, .show_all a:hover {
    background-color: rgb(117, 244, 78);
    transition: background-color 0.3s ease;
}

.intro_buttons p {
    cursor: pointer;
    display: block;
    color: white;
    letter-spacing: 2px;
    padding: 20px 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-left: 20px;
}

.intro_buttons p:hover {
    color: #0d0f0d;
    background-color: white;
    transition: all 0.3s ease;
}

.intro_links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro_links a {
    text-decoration: underline;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
    margin-bottom: 15px;
}

.intro_links a:last-child {
    border-right: none;
}

.intro_links a:hover {
    color: #00ad4e;
    transition: color .3s ease-in;
}

/* slider arrow
=========================== */
.slider_arrow {
    display: none;
    cursor: pointer;
    height: 100px;
    top: 50%;
    transition: transform 0.1s;
    width: 80px;
}

.slider_arrow.left {
    right: 100%;
    transform: translateY(0) rotateY(180deg);
}

.slider_arrow.right {
    left: 100%;
    transform: translateY(0);
}

.arrow-top-slider, .arrow-bottom-slider {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.arrow-top-slider:after, .arrow-bottom-slider:after {
    background-color: #fff;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}

.arrow-top-slider {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.arrow-top-slider:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}

.arrow-bottom-slider {
    transform: rotate(-45deg);
    transform-origin: top right;
}

.arrow-bottom-slider:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}

.slider_arrow:hover .arrow-top-slider:after {
    left: 0;
    transition-delay: 0.15s;
}

.slider_arrow:hover .arrow-bottom-slider:after {
    right: 0;
    transition-delay: 0s;
}

/* products_section
========================= */

.special_offers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.special_offers_slider {
    overflow: hidden;
}

.special_offers_items {
    display: flex;
    transition: all 0.5s ease;
}

.special_offers_item {
    position: relative;
    min-width: 33.333333%;
    padding: 0 10px;
}

.special_offers_item > img {
    width: 100%;
}

.special_offers_item > h4 {
    position: absolute;
    left: 15%;
    top: 15%;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.special_offers_item > p {
    position: absolute;
    left: 15%;
    top: 35%;
    font-size: 14px;
    color: white;
    line-height: 1.4;
}

.special_offers_item > a {
    position: absolute;
    left: 15%;
    top: 70%;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #00ad4e;
}

.special_offers_item > a {
    position: absolute;
    left: 15%;
    top: 70%;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #00cc66;
}

.special_offers_item > a:hover {
    background-color: #00FF00;
    transition: background-color 0.2s ease;
}

.products_content {
    display: flex;
    justify-content: space-between;
}

.products_block {
    width: 75%;
}

.products_block h2 {
    font-size: 24px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
    user-select: none;
}

.product_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-decoration: none;
    min-width: 33.333333%;
    padding: 0 20px;
}

.product_item img {
    width: 100%;
    margin-bottom: 10px;
}

.product_item h4 {
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
    width: 100%;
}

.product_item h4:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.product_item p {
    color: rgb(189, 189, 189);
    text-align: center;
}

.price {
    display: flex;
    justify-content: center;
}

.price p {
    margin-right: 5px;
}

.show_all {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.show_all a {
    width: 200px;
    text-align: center;
}

/* copywriting_section
========================= */

.text_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text_block img {
    width: 350px;
    height: 320px;
}

.text {
    width: 100%;
    padding: 0 10px;
}

.text p {
    text-align: justify;
    color: #8e8e8e;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.text p:last-child {
    margin-bottom: 0;
}

.text h4 {
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.text ul {
    color: #8e8e8e;
    margin-left: 20px;
    margin-bottom: 20px;
}

.text ul li {
    margin-bottom: 10px;
}

/* about_section
========================= */

.about_section {
    margin-bottom: 60px;
}

.about_section h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about_content {
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
}

.about_item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 60px;
}

.about_item img {
    margin-bottom: 20px;
}

.about_item h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.about_item p {
    font-size: 16px;
    color: rgb(142, 142, 142);
    text-align: center;
    line-height: 25px;
}

/* reviews_section
========================= */

.container > h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* reviews_section
========================= */

.forums_content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.forums_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.forums_item img {
    width: 100%;
}

.forums_item h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.forums_item a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    color: #8e8e8e;
}

.forums_item a:hover {
    color: white;
    transition: color 0.3s ease;
}

@media (max-width: 1100px) {
    .accordion a, .nav_link>a {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    .product_item {
        width: 50%;
    }

    .products_block {
        width: 68%;
    }

    .products_content>.nav_bar {
        width: 32%;
    }

}

@media (max-width: 830px) {
    .about_item {
        padding: 60px 10px 40px;
    }

}

@media (max-width: 750px) {
    .sliders {
        transition: all 1s ease-in;
    }

    .content_one > h2 {
        font-size: 50px;
    }

    .content_one > p:first-child {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .content_one > p {
        font-size: 20px;
    }

    .products_content {
        flex-direction: column;
    }

    .products_block {
        width: 100%;
    }

    .text_block img {
        width: 300px;
        height: 280px;
    }

    .text p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .about_content {
        flex-direction: column;
    }

    .about_item {
        width: 100%;
        padding: 20px 10px;
    }

    .forums_content {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .forums_item {
        width: 50%;
        margin-bottom: 20px;
    }

    .intro_content > h2 {
        font-size: 50px;
    }

    .intro_buttons a {
        font-size: 14px;
    }

    .text_block img {
        width: 300px;
        height: 280px;
    }
}

@media (max-width: 500px) {
    .content_one > h2 {
        font-size: 30px;
    }

    .content_one > p:first-child {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .content_one > p {
        font-size: 18px;
    }

    .intro_buttons {
        flex-direction: column;
        align-items: center;
    }

    .intro_buttons a {
        margin-bottom: 20px;
    }

    .intro_buttons p {
        margin-left: 0;
    }

    .intro_content {
        padding-left: 0;
        width: 100%;
    }

    .switch_buttons_item {
        width: 20px;
        height: 20px;
    }

    .special_offers_item > h4 {
        font-size: 16px;
    }

    .special_offers_item > a {
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    .content_one > h2 {
        font-size: 30px;
    }

    .content_one > p:first-child {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
    }

    .content_one > p {
        font-size: 14px;
    }

    .product_item {
        width: 100%;
    }

    .text_block img {
        width: 100%;
        height: auto;
    }

    .forums_item {
        width: 100%;
    }

    .reviews_section {
        margin-bottom: 40px;
    }
}


