body {
    background: none;
    background-color: #0d0f0d;
    display: block;
}

/* intro_section
========================= */

.intro_section {
    background-repeat: no-repeat;
    background-image: url('../img/intro.png');
    background-size: cover;
    background-position: 0% 33%;
    height: 500px;
}

.intro_content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 40px;
}

.intro_content > p, .intro_content > h2 {
    color: white;
    font-weight: 900;
    user-select: none;
}

.intro_content > p {
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 80px;
    margin-bottom: 70px;
}

.intro_content > h2 {
    font-size: 75px;
    margin-bottom: 70px;
}

.intro_buttons {
    display: flex;
}

.intro_buttons a {
    display: block;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(4, 211, 56, 0.9);
    padding: 20px 25px;
}

.intro_buttons a:hover {
    background-color: rgb(117, 244, 78);
    transition: background-color 0.3s ease;
}

.intro_buttons p {
    cursor: pointer;
    display: block;
    color: white;
    letter-spacing: 2px;
    padding: 20px 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-left: 20px;
}

.intro_buttons p:hover {
    color: #0d0f0d;
    background-color: white;
    transition: all 0.3s ease;
}

/* products_section
========================= */

.products_content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.nav_bar {
    width: 23%;
}

.nav_link {
    border-left: 3px solid transparent;
}

.nav_link, .accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    background-color: #2A2A2A;
    padding: 0 10px;
    margin-bottom: 2px;
}

.nav_link.active {
    background-color: #404141;
    border-left-color: #45db42;
    margin-bottom: 0;
}

.nav_link > a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 900;
    user-select: none;
}

.nav_link > a:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.accordion a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    user-select: none;
}

.nav_link span {
    position: relative;
}

.nav_link span:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    left: -20px;
    background-color: white;
}

.nav_link span:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    left: -20px;
    background-color: white;
    transform: rotate(90deg);
}

.nav_link.open span:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 15px;
    left: -20px;
    background-color: white;
    transform: rotate(0deg);
}

.products_block {
    width: 75%;
}

.products_block h2 {
    font-size: 24px;
    width: 100%;
    font-weight: 400;
    text-align: center;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
    user-select: none;
}

.products {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    text-decoration: none;
    width: 33%;
    padding: 0 20px;
}

.product img {
    width: 100%;
    margin-bottom: 10px;
}

.product h4 {
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-bottom: 5px;
}

.product h4:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.product p {
    color: rgb(189, 189, 189);
    text-align: center;
}

/* copywriting_section
========================= */

.text_1_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text_1_block img {
    width: 30%;
}

.text_1 {
    width: 65%;
}

.text_1 p {
    text-align: justify;
    color: #8e8e8e;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
}

.text_1 p:last-child {
    margin-bottom: 0px;
}

/* about_section
========================= */

.about_section {
    margin-bottom: 60px;
}

.about_section h2  {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.about_content {
    display: flex;
    justify-content: space-between;
    background-color: #1b1b1b;
}

.about_item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 40px 60px;
}

.about_item img {
    margin-bottom: 20px;
}

.about_item h3 {
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

.about_item p {
    font-size: 16px;
    color: rgb(142, 142, 142);
    text-align: center;
    line-height: 25px;
}

/* reviews_section
========================= */

.container > h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.review_content {
    display: flex;
}

.review_right {
    margin-right: 40px;
}

.review_right h2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.stars {
    width: 170px;
}

.tp-stars--5, .tp-star:nth-of-type(-n+5), .tp-star__canvas, .tp-star__canvas--half{
    fill: #00b67a;
}

.count_reviews {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.count_reviews p {
    color: #8e8e8e;
    margin-right: 7px;
}

.count_reviews a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.count_reviews a:hover {
    border-bottom: 1px solid #8e8e8e;
    transition: all 0.3s ease;
}

.trustpilot {
    display: flex;
    justify-content: center;
}

.trustpilot svg {
    width: 120px;
}

.dark, .tp-logo__text {
    fill: #fff;
}

.review_left {
    width: 100%;
}

.reviews {
    display: flex;
    justify-content: space-between;
}

.review {
    width: 30%;
}

.review_stars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review_stars svg {
    width: 100px;
}

.review_date {
    color: #8e8e8e;
}

.title {
    color: white;
    font-size: 13px;
    margin-bottom: 7px;
}

.message {
    color: #b1b1b1;
    font-size: 13px;
    margin-bottom: 7px;
}

.owner {
    color: #565757;
    font-size: 13px;
}

/* reviews_section
========================= */

.forums_content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.forums_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.forums_item img {
    width: 100%;
}

.forums_item h3 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.forums_item a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    color: #8e8e8e;
}

.forums_item a:hover {
    color: white;
    transition: color 0.3s ease;
}
