.product_section {
    flex-grow: 1;
    margin-top: 40px;
    margin-bottom: 80px;
}

.product_nav {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 15px;
}

.product_nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.product_nav a:hover {
    color: #00ad4e;
    transition: color 0.3s ease;
}

.arrow {
    width: 9px;
    height: 9px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin: 0 7px;
}

.arrow-top {
    transform: rotate(45deg);
}

.product_content {
    display: flex;
    justify-content: space-between;
}

.product_right {
    width: 28%;
}

.product_img img {
    width: 100%;
}

.required_options, .addition_options {
    width: fit-content;
}

.required_options p, .addition_options p {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.required_options p:before {
    position: absolute;
    content: '*';
    color: red;
    font-size: 25px;
    top: -4px;
    left: -10px;
}

.option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.option_name {
    color: white;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
}

.option_price {
    color: rgb(136, 136, 136);
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
}

.option_price.old {
    font-size: 14px;
    text-decoration: line-through;
}

.option_new_price {
    color: rgb(40, 168, 5);
    font-size: 16px;
    margin-left: 10px;
    font-weight: 400;
    white-space: nowrap;
}

.option_hint {
    position: relative;
}

.hint_img {
    margin-left: 5px;
    transform: translateY(1px);
}

.hint_text {
    display: none;
    position: absolute;
    font-size: 12px;
    width: 250px;
    background-color: #000000e3;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 7px;
    bottom: 0;
    left: -130px;
    line-height: 1.5;
    opacity: 0;
    transition: all 0.5s ease;
}

.hint_text.hint_active {
    bottom: 15px;
    opacity: 1;
    transition: all 0.5s ease;
}

.product_price {
    display: flex;
}

.product_price p {
    color: rgb(136, 136, 136);
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 10px;
}

.product_buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.quantity {
    display: flex;
    height: 35px;
    width: 100px;
    border: 1px solid rgb(47, 47, 47);
}

.minus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 100%;
    border-right: 1px solid rgb(47, 47, 47);
    cursor: pointer;
}

.minus:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 10px;
    background-color: rgb(142, 142, 142);
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    width: 50px;
    height: 100%;
    color: rgb(142, 142, 142);
    user-select: none;
}

.plus {
    cursor: pointer;
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(142, 142, 142);
    font-size: 18px;
}

.add_to_cart {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    background-color: rgb(107, 216, 41);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add_to_cart p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.add_to_cart:hover {
    background-color: rgb(142, 142, 142);
    transition: all 0.3s ease;
}

.product_centre {
    width: 50%;
    padding: 0 15px;
}

.product_centre .product_name {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(47, 47, 47);
    margin: 0;
}

.service {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.service_item {
    position: relative;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
    line-height: 20px;
    color: white;
}

.service img {
    max-width: 20px;
    max-height: 20px;
    margin-right: 6px;
}

.service p {
    white-space: nowrap;
}

.service span {
    display: none;
    position: absolute;
    text-align: justify;
    width: 250px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 12px;
    font-size: 14px;
    bottom: 125%;
    left: -50%;
}

.product_centre h3 {
    color: rgb(40, 168, 5);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 0;
    border-bottom: 1px solid rgb(47, 47, 47);
    line-height: 25px;
}

.length, .requirements {
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
}

.length span, .requirements span {
    color: rgb(142, 142, 142);
}

.product_centre .description {
    margin-top: 20px;
    color: rgb(142, 142, 142);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: justify;
}

.product_centre .description p, .product_centre .description li {
    margin-bottom: 10px;
}

.product_centre .description a {
    text-decoration: none;
    color: white;
}

.product_centre .description strong {
    font-weight: 900;
}

.product_centre .description span {
    color: white;
}

.success {
    top: 20px;
    right: 0;
    position: fixed;
    background-color: #45db42ad;
    border-radius: 10px;
}


.success p, .error p {
    color: white;
    padding: 20px 20px;
}

.error {
    top: 20px;
    right: 0;
    position: fixed;
    background-color: #842029;
    border-radius: 10px;
}

.suggestions_section {
    margin-bottom: 50px;
}

.suggestions_section > .container {
    overflow: hidden;
}

.suggestions_title {
    font-size: 25px;
    color: white;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.suggestions_products {
    display: flex;
    margin-bottom: 15px;
}

.suggestions_product_item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 25%;
    padding: 0 10px;
}

.suggestions_product_item img {
    width: 100%;
}

.suggestions_product_name {
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.suggestions_product_name:hover {
    color: rgb(189, 189, 189);
    transition: color 0.3s ease;
}

.suggestions_product_price {
    color: rgb(189, 189, 189);
    text-align: center;
}

.suggestions_switch_buttons {
    display: none;
}

.suggestions_switch_button {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: 0 5px;
}

.suggestions_switch_button_active {
    background-color: #00ad4e;
}


@media (max-width: 1000px) {

    .product_centre {
        width: 65%;
    }

    .product_right {
        width: 35%;
    }

    .product_nav a {
        font-size: 12px;
    }
}


@media (max-width: 900px) {
    .suggestions_switch_buttons {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .product_centre .description {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .product_content {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    .product_right {
        width: 100%;
        margin-bottom: 30px;
    }

    .product_centre {
        width: 100%;
    }

    .service {
        position: relative;
    }

    .service_item {
        position: unset;
    }

    .service span {
        left: 0;
    }
}

@media (max-width: 500px) {
    .product_right {
        width: 95%;
    }

    .option_name {
        font-size: 12px;
        line-height: 15px;
    }
}