.reset_password_section {
    flex-grow: 1;
}

.reset_password_section h2 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.reset_password_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset_password_content p {
    font-size: 16px;
    color: rgb(142, 142, 142);
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
    text-align: justify;
}

.reset_password_block {
    width: 45%;
}

.reset_password_block button {
    color: white;
    width: 100%;
    padding: 15px 25px;
    background-color: #555555;
}

.reset_password_block button:hover {
    background-color: rgb(46, 157, 16);
    transition: background-color 0.3s ease;
}

.required:after {
    position: absolute;
    content: '*';
    color: red;
    font-size: 25px;
    top: -4px;
    right: -12px;
}

.success {
    text-align: center;
    background-color: #45db42ad;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    list-style: none;
}

.error {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #842029;
    border-radius: 10px;
    list-style: none;
}

@media (max-width: 1000px) {
    .reset_password_block {
        width: 60%;
    }
}

@media (max-width: 800px) {
    .reset_password_block {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .reset_password_block {
        width: 100%;
    }

    .reset_password_content p {
        font-size: 14px;
    }
}