* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    background-color: #0d0f0d;
    display: flex;
    flex-direction: column;
    background: url('../img/antorus_bg.jpg') top right;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #101211;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:active, button:focus {
  outline: none;
}

form label {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

form input {
    border: 1px solid rgb(47, 47, 47);
    background-color: rgb(31, 31, 31);
    font-size: 16px;
    height: 34px;
    padding: 0 17px;
    color: white;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.modal_container {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 525px;
    transform: translate(-80%, -50%);
    background-color: #2A2A2A;
    z-index: 2;
    opacity: 0;
}

@keyframes show_modal {
    from {
        opacity: 0;
        transform: translate(-80%, -50%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.modal_container.modal_active {
    display: block;
    animation-name: show_modal;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.modal {
    padding: 30px;
}

.modal h3 {
    color: white;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 25px;
}

.modal > p {
    text-decoration: none;
    color: rgb(142, 142, 142);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 25px;
}

.modal_links {
    display: flex;
}

.discord, .skype, .email_modal, .telegram_modal {
    width: 25%;
    padding: 0 5px;
}

.modal_link_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.modal_link_container p {
    color: white;
    margin-top: 10px;
}

.discord img, .skype img, .email_modal img, .telegram_modal img {
    width: 50px;
}

.discord > div {
    background-color: #383c3e;
}

.skype > div {
    background-color: #383c3e;
}

.email_modal > div {
    background-color: #383c3e;
}

.telegram_modal > div {
    background-color: #383c3e;
}

.body_modal {
    position: relative;
}

.body_modal:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.3);
    z-index: 1;
}

.section_cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1e222a;
    min-height: 100px;
    z-index: 1000000000;
}

.section_cookie > .container {
    display: flex;
    align-items: center;
    color: white;
    min-height: 100px;
    line-height: 25px;
}

.cookie_info a {
    color: rgb(46, 157, 16);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}

.cookie_accept {
    display: block;
    padding: 10px 60px;
    margin-left: 30px;
    background: linear-gradient(90deg, #00ad4e 0%, #666a6b9e 99.98%);
    cursor: pointer;
    white-space: nowrap;
}

.mobile_menu_header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.close_button {
    position: relative;
    display: block;
    height: 2px;
    width: 30px;
    background-color: white;
    margin-right: 9px;
    transform: rotate(45grad);
}

.close_button:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: white;
    transform: rotate(90deg);
}

.mobile_menu {
    position: fixed;
    background-color: #0d0f0d;
    top: 0;
    left: -100%;
    width: 100%;
    z-index: 100000000000000;
    height: 100%;
    overflow-y: scroll;
    transition: left 0.3s ease;
}

.mobile_menu.in {
    left: 0;
    transition: left 0.3s ease;
}

@media (max-width: 700px) {
    .section_cookie > .container {
        flex-direction: column;
        padding: 20px 5px 0;
    }

    .cookie_info {
        text-align: center;
        margin-bottom: 20px;
    }

    .cookie_accept {
        margin-bottom: 20px;
        padding: 10px 80px;
    }
}

@media (max-width: 350px) {
    .section_cookie > .container {
        font-size: 14px;
        line-height: 22px;
    }
}