.terms_of_service_section h2 {
    color: white;
    font-size: 35px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.terms_of_service_section h4 {
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.terms_of_service_section p {
    font-size: 16px;
    color: rgb(142, 142, 142);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px;
    text-align: justify;
}

@media (max-width: 600px) {
    .terms_of_service_section h2 {
        font-size: 30px;
    }

    .terms_of_service_section h4 {
        font-size: 16px;
    }

    .terms_of_service_section p {
        font-size: 14px;
    }

    .terms_of_service_section h2 {
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .terms_of_service_section h2 {
        font-size: 20px;
    }
}