<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block style %}
    {% endblock %}
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
    <title>{% block title %}Antorus.com - The best boosting in Azeroth! - ANTORUS{% endblock %}</title>
</head>
<body>
<div class="top_bar">
    <div class="container">
        <div class="head">
            {% if user.is_superuser %}
                <a class="admin" href="/azarkes/">admin</a>
            {% endif %}
            <div class="contact_support">
                <p id="contact_support">Contact Support</p>
            </div>
            {% if user.is_authenticated %}
                <div class="account">
                    <p>{{ user.username }}</p>
                    <div class="account_accordion">
                        <a href="{% url 'orders' %}">Orders</a>
                        <a href="{% url 'account_details' %}">Account details</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="login">
                    <p>Sign In Or Create An Account</p>
                    <div class="login_accordion">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div>
                                <label class="required">Username or email address</label>
                                <input name="username" type="text">
                            </div>
                            <div>
                                <label class="required">Password</label>
                                <input name="password" type="password">
                            </div>
                            <div class="lost_password_link">
                                <a href="{% url 'reset_password' %}">Lost your password?</a>
                            </div>
                            <button type="submit">LOG IN</button>
                        </form>
                        <div class="new_client">
                            <p>New client <a href="{% url 'my_account' %}">Register?</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<header>
    <div class="container">
        <div class="header">
            <div class="burger_button">
                <span></span>
            </div>
            <div class="burger_menu">

            </div>
            <div class="search_bar">
                <input autocomplete="off" oninput="search()" value="" id="search" placeholder="Type here..."
                       type="text">
            </div>
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo-2.png' %}" alt="logo"></a>
            </div>
            <div class="currency_switcher">
                <div id="us" class="active_currency">US</div>
                <div id="eu" class="active_currency">EU</div>
            </div>
            <div class="cart">
                <a href="{% url 'cart' %}"><img src="{% static 'img/cart.png' %}" alt="cart"></a>
                <div class="cart_count"><p id="cart_count"></p></div>
            </div>
            <div class="search_accordion"></div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="container">
        <div class="footer_content">
            <div class="footer_left">
                <p>All included here mentioned brand names are registered and property of the respective companies.</p>
            </div>
            <div class="footer_right">
                <a href="{% url 'faq' %}">FAQ</a>
                <a href="">Terms of Service</a>
                <a href="">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>
<div class="modal_container">
    <div class="modal">
        <h3>CONTACT ANTORUS TEAM</h3>
        <p>Please use the chat widget in the bottom right corner of the screen.</p>
        <p>You can also contact us with one of the following methods:</p>
        <div class="modal_links">
            <a href="" class="discord">
                <div class="modal_link_container">
                    <img src="{% static 'img/discord.png' %}" alt="">
                    <p>discord</p>
                </div>
            </a>
            <a href="" class="skype">
                <div class="modal_link_container">
                    <img src="{% static 'img/skype.png' %}" alt="">
                    <p>skype</p>
                </div>
            </a>
            <a href="" class="email_modal">
                <div class="modal_link_container">
                    <img src="{% static 'img/email.png' %}" alt="">
                    <p>email</p>
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    const currency = '{{ currency }}'
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//code.tidio.co/qtfccqsgrgx4usthk3x1dxkxtllrlcx1.js" async></script>
<script src="{% static 'js/main.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>