<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style_3.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block style %}
    {% endblock %}
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
    <title>{{ seo.title }}</title>
    {{ seo.meta|safe }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179463640-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-179463640-1');
    </script>
    <!-- EndGlobal site tag (gtag.js) - Google Analytics -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (m, e, t, r, i, k, a) {
            m[i] = m[i] || function () {
                (m[i].a = m[i].a || []).push(arguments)
            };
            m[i].l = 1 * new Date();
            k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
        })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(67968427, "init", {
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
        });
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/67968427" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- End Yandex.Metrika counter -->
</head>
<body>
<div class="top_bar">
    <div class="container">
        <div class="head">
            {% if user.is_superuser or user.is_staff %}
                <a class="admin" href="/azarkes/">admin</a>
            {% endif %}
            <div class="contact_support">
                <p id="contact_support">Contact Support</p>
            </div>
            {% if user.is_authenticated %}
                <div class="account">
                    <p>{{ user.username }}</p>
                    <div class="account_accordion">
                        <a href="{% url 'orders' %}">Orders</a>
                        <a href="{% url 'account_details' %}">Account details</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            {% else %}
                <div class="login">
                    <p>Sign In Or Create An Account</p>
                    <div class="login_accordion">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div>
                                <label class="required">Username or email address</label>
                                <input name="username" type="text">
                            </div>
                            <div>
                                <label class="required">Password</label>
                                <input name="password" type="password">
                            </div>
                            <div class="lost_password_link">
                                <a href="{% url 'reset_password' %}">Lost your password?</a>
                            </div>
                            <button type="submit">LOG IN</button>
                        </form>
                        <div class="new_client">
                            <p>New client <a href="{% url 'my_account' %}">Register?</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<header>
    <div class="container">
        <div class="header">
            <div class="burger_button">
                <span></span>
            </div>
            <div class="search_bar">
                <input autocomplete="off" oninput="search()" value="" id="search" placeholder="Type here..."
                       type="text">
            </div>
            <div class="logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo-2.png' %}"
                                                 alt="World of Warcraft Boosting Services"></a>
            </div>
            <div class="currency_switcher">
                <div id="us" class="active_currency">US</div>
                <div id="eu" class="active_currency">EU</div>
            </div>
            <div class="cart">
                <a href="{% url 'cart' %}"><img src="{% static 'img/cart.png' %}" alt="cart"></a>
                <div class="cart_count"><p id="cart_count"></p></div>
            </div>
            <div class="search_accordion"></div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer>
    <div class="container">
        <div class="footer_content">
            <div class="footer_left">
                <p>All included here mentioned brand names are registered and property of the respective companies.</p>
            </div>
            <div class="footer_right">
                <a href="{% url 'faq' %}">FAQ</a>
                <a href="{% url 'termsOfService' %}">Terms of Service</a>
                <a href="{% url 'privacyPolicy' %}">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>
<div class="modal_container">
    <div class="modal">
        <h3>CONTACT ANTORUS TEAM</h3>
        <p>Please use the chat widget in the bottom right corner of the screen.</p>
        <p>You can also contact us with one of the following methods:</p>
        <div class="modal_links">
            <a target="_blank" href="https://discord.gg/7vCa6Wr" class="discord">
                <div class="modal_link_container">
                    <img src="{% static 'img/discord.png' %}" alt="">
                    <p>discord</p>
                </div>
            </a>
            <a target="_blank" href="skype:live:AntorusShop?chat" class="skype">
                <div class="modal_link_container">
                    <img src="{% static 'img/skype.png' %}" alt="">
                    <p>skype</p>
                </div>
            </a>
            <a target="_blank" href="mailto:shop@antorus.com" class="email_modal">
                <div class="modal_link_container">
                    <img src="{% static 'img/email.png' %}" alt="">
                    <p>email</p>
                </div>
            </a>
            <a target="_blank" href="https://t.me/AntorusShop" class="telegram_modal">
                <div class="modal_link_container">
                    <img src="{% static 'img/telegram.png' %}" alt="">
                    <p>telegram</p>
                </div>
            </a>
        </div>
    </div>
</div>
<section class="mobile_menu">
    <div class="mobile_menu_header">
        <span class="close_button"></span>
    </div>
    <div class="nav_bar">
        <nav>
            {% for item in categories %}
                <div {% if category.name == item.name %}class="nav_link active open"
                     {% else %}class="nav_link"{% endif %}>
                    <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                    {% if item.categories_subcategories.all %}
                        <span></span>
                    {% endif %}
                </div>
                {% if item.categories_subcategories.all %}
                    <div {% if category.name == item.name %}style="display: flex"
                         {% else %}style="display: none"{% endif %} class="accordion">
                        {% for subcategory in item.categories_subcategories.all %}
                            <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</section>
<section id="cookie" class="section_cookie">
    <div class="container">
        <div class="cookie_info">
            <p>We use cookies to improve your experience on our site. To learn more about cookies and data we collect,
                check out our <a href="{% url 'privacyPolicy' %}">Privacy Policy</a></p>
        </div>
        <p id="accept_cookie" class="cookie_accept">I ACCEPT</p>
    </div>
</section>
<script>
    const currency = '{{ currency }}'
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//code.tidio.co/qtfccqsgrgx4usthk3x1dxkxtllrlcx1.js" async></script>
<script src="{% static 'js/main_4.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>