<div {% if category.name == item.name %}class="nav_link active open"
     {% else %}class="nav_link"{% endif %}>
    <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
    {% if item.categories_subcategories.all %}
        <span></span>
    {% endif %}
</div>
{% if item.categories_subcategories.all %}
    <div {% if category.name == item.name %}style="display: flex; height: 100%"
         {% else %}style="display: none"{% endif %} class="accordion">
        {% for subcategory in item.categories_subcategories.all %}
            {% if not subcategory.archive %}
                <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}