{% extends 'basic/basic.html' %}
{% load static %}

{% block title %}My Account - ANTORUS{% endblock %}

{% block content %}
    <section class="account_details_section">
        <div class="container">
            <h2>MY ACCOUNT</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li style="color: white" {% if message.tags %}
                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="account_details_content">
                <div class="account_details_left">
                    <div class="account_nav_bar">
                        <a class="nav_bar_link" href="{% url 'orders' %}">ORDERS</a>
                        <a class="nav_bar_link active" href="{% url 'account_details' %}">ACCOUNT DETAILS</a>
                        <a class="nav_bar_link" href="{% url 'logout' %}">LOGOUT</a>
                    </div>
                </div>
                <div class="account_details_right">
                    <form action="{% url 'changeDetails' %}" method="post">
                        {% csrf_token %}
                        <div class="user">
                            <div class="first_name">
                                <label class="required">First name</label>
                                <input name="first_name" type="text" value="{{ user.first_name }}" required>
                            </div>
                            <div class="last_name">
                                <label class="required">Last name</label>
                                <input name="last_name" type="text" value="{{ user.last_name }}" required>
                            </div>
                        </div>
                        <div>
                            <label class="required">Login</label>
                            <input name="username" type="text" value="{{ user.username }}" required>
                        </div>
                        <div>
                            <label>Email address</label>
                            <input name="email" type="email" value="{{ user.email }}" disabled>
                        </div>
                        <div class="change_password">
                            <h4>PASSWORD CHANGE</h4>
                            <div>
                                <label>Current password (leave blank to leave unchanged)</label>
                                <input name="currentPassword" type="password">
                            </div>
                            <div>
                                <label>New password (leave blank to leave unchanged)</label>
                                <input name="password1" type="password">
                            </div>
                            <div>
                                <label>Confirm new password</label>
                                <input name="password2" type="password">
                            </div>
                        </div>
                        <button type="submit">SAVE CHANGES</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}