{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block title %}Cart - ANTORUS{% endblock %}

{% block content %}
    <section class="cart_section">
        <div class="container">
            <h2>SHOPPING CART</h2>
            <div class="cart_content">
                <div class="cart_left">
                    <div class="cart_head">
                        <div class="head_title">PRODUCT</div>
                        <div class="head_price">PRICE</div>
                        <div class="head_quantity">QUANTITY</div>
                        <div class="head_total">TOTAL</div>
                    </div>
                    <div class="products">
                    </div>
                    <div class="promo_code">
                        <p>Enter your promotional code</p>
                        <p style="display: none; color: red; margin-bottom: 10px" id="couponNotFound">Coupon
                            not found</p>
                        <div class="input">
                            <input id="coupon" value="" type="text" placeholder="Coupon code">
                            <div class="input_button">OK</div>
                        </div>
                    </div>
                </div>
                <div class="cart_right">
                    <h4>CART TOTALS</h4>
                    <div class="subtotal">
                        <p>Subtotal</p>
                        <p id="subtotal"></p>
                    </div>
                    <div style="display: none" class="coupon">
                        <p id="coupon_name">Coupon: </p>
                        <p id="coupon_price" style="color: #45db428c"></p>
                    </div>
                    <div class="cart_total">
                        <p>Total</p>
                        <p id="cart_total"></p>
                    </div>
                    <a href="{% url 'checkout' %}" class="cart_button">Proceed to checkout</a>
                </div>
            </div>
            <div class="cart_empty">
                <h2>YOUR SHOPPING CART IS EMPTY</h2>
                <p>We invite you to get acquainted with an assortment of our shop.Surely you can find something for
                    yourself!</p>
                <a href="{% url 'index' %}">RETURN TO SHOP</a>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/cart_1.js' %}"></script>
{% endblock %}