{% extends 'basic/basic.html' %}
{% load static %}

{% block title %}{% if sub_category %}{{ sub_category.name }}{% else %}{{ category }}{% endif %}{% endblock %}

{% block content %}
    <div class="products_sections">
        <div class="container">
            <div class="products_content">
                <div id="nav_bar" class="nav_bar">
                    <p>CATEGORIES</p>
                    <nav>
                        {% for item in categories %}
                            <div {% if category.name == item.name %}class="nav_link active open"
                                 {% else %}class="nav_link"{% endif %}>
                                <a href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                                {% if item.categories_subcategories.all %}
                                    <span></span>
                                {% endif %}
                            </div>
                            {% if item.categories_subcategories.all %}
                                <div {% if category.name == item.name %}style="display: flex; height: 100%"
                                     {% else %}style="display: none"{% endif %} class="accordion">
                                    {% for subcategory in item.categories_subcategories.all %}
                                        {% if not subcategory.archive %}
                                            <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="nav_link">
                            <a href="/result/all/">All products</a>
                        </div>
                    </nav>
                </div>
                <div class="products_block">
                    {% if seo.h1 %}
                        <h1>{{ seo.h1 }}</h1>
                    {% else %}
                        <h1>{% if sub_category %}{{ sub_category.name }}{% else %}{{ category }}{% endif %}</h1>
                    {% endif %}
                    <div class="category_description">
                        {% if sub_category %}{{ sub_category.text_above_products|safe }}{% else %}
                            {{ category.text_above_products|safe }}{% endif %}</div>
                    <div class="products">
                        {% for product in products %}
                            <div class="product_item">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{{ product.image.url }}" alt="{{ product.alt }}">
                                </a>
                                <a href="{{ product.get_absolute_url }}" class="name">{{ product.name }}</a>
                                <h5>{{ product.short_description|safe }}</h5>
                                <div class="item_footer">
                                    {% if currency == 'us' %}
                                        <div class="item_price">
                                            <p>from</p>
                                            {% if product.new_price_dollar %}
                                                <div class="discount_price">
                                                    <p>$ {{ product.get_price_dollar }}</p>
                                                    <p>$ {{ product.get_price_new_dollar }}</p>
                                                </div>
                                            {% else %}
                                                <p>{{ product.get_price_us }}</p>
                                            {% endif %}
                                        </div>
                                    {% else %}
                                        <div class="item_price">
                                            <p>from</p>
                                            {% if product.new_price_euro %}
                                                <div class="discount_price">
                                                    <p>€ {{ product.get_price_euro }}</p>
                                                    <p>€ {{ product.get_price_new_euro }}</p>
                                                </div>
                                            {% else %}
                                                <p>{{ product.get_price_eu }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <a href="{{ product.get_absolute_url }}" class="buy_button">BUY NOW</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="category_description">
                        {% if sub_category %}{{ sub_category.text_below_products|safe }}{% else %}
                            {{ category.text_below_products|safe }}{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}