{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock %}

{% block title %}{% if category %}{{ category }}{% else %}{{ sub_category }}{% endif %}{% endblock %}

{% block content %}
    <section class="products_sections">
        <div class="container">
            <div class="products_content">
                <div class="nav_bar">
                    <h3>CATEGORIES</h3>
                    <nav>
                        {% for category in categories %}
                            <div class="nav_link">
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {% if category.categories_subcategories.all %}
                                    <span class="open"></span>
                                {% endif %}
                            </div>
                            {% if category.categories_subcategories.all %}
                                <div class="accordion">
                                {% for subcategory in category.categories_subcategories.all %}
                                    <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </div>
                <div class="products_block">
                    <h2>{% if category %}{{ category }}{% else %}{{ sub_category }}{% endif %}</h2>
                    <div class="products">
                        {% for product in products %}
                        <div class="product">
                            <img src="{{ product.image.url }}" alt="">
                            <a href="{{ product.get_absolute_url }}" class="name">{{ product.name }}</a>
                            <p class="price">$ {{ product.price_dollar }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}