{% extends 'basic/basic.html' %}
{% load static %}

{% block title %}{% if sub_category %}{{ sub_category.name }}{% else %}{{ category }}{% endif %}{% endblock %}

{% block content %}
    <div class="products_sections">
        <div class="container">
            <div class="products_content">
                <div id="nav_bar" class="nav_bar">
                    <p>CATEGORIES</p>
                    <nav>
                        {% for item in categories %}
                            {% include 'basic/category_item.html' %}
                        {% endfor %}
                        <div class="nav_link">
                            <a href="/result/all/">All products</a>
                        </div>
                    </nav>
                </div>
                <div class="products_block">
                    {% if seo.h1 %}
                        <h1>{{ seo.h1 }}</h1>
                    {% else %}
                        <h1>{% if sub_category %}{{ sub_category.name }}{% else %}{{ category }}{% endif %}</h1>
                    {% endif %}
                    <div class="category_description">
                        {% if sub_category %}{{ sub_category.text_above_products|safe }}{% else %}
                            {{ category.text_above_products|safe }}{% endif %}</div>
                    <div class="products">
                        {% for product in products %}
                            {% include 'basic/product_item.html' %}
                        {% endfor %}
                    </div>
                    <div class="category_description">
                        {% if sub_category %}{{ sub_category.text_below_products|safe }}{% else %}
                            {{ category.text_below_products|safe }}{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}