{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
{% endblock %}

{% block title %}Checkout - ANTORUS{% endblock %}

{% block content %}
    <section class="checkout_section">
        <div class="container">
            <h2>CHECKOUT</h2>
            <div class="checkout_content">
                <div class="checkout_left">
                    <h3>BILLING DETAILS</h3>
                    <form action="">
                        <div class="character">
                            <div class="name">
                                <label class="required">Character Name and Server Name</label>
                                <input id="characterServer" type="text" value="">
                            </div>
                            <div class="tag">
                                <label>Battle tag (optional)</label>
                                <input id="battleTag" type="text">
                            </div>
                        </div>
                        <div class="faction">
                            <label class="required">Faction</label>
                            <input id="faction" type="text">
                        </div>
                        <div class="connections">
                            <label class="required">Skype or Discord</label>
                            <input id="connection" type="text">
                        </div>
                        <div class="email">
                            <label class="required">email</label>
                            <input id="email" type="email">
                        </div>
                        <div class="account">
                            <label class="account_label">Create an account?</label>
                            <div class="checkbox">
                                <input class="addition" type="checkbox" id="cd1">
                                <label class="custom" for="cd1">
                                    <div class="tick"></div>
                                </label>
                            </div>
                        </div>
                        <div class="comment">
                            <label>Comment to the order (optional)</label>
                            <textarea id="comment" name="comment" id="" cols="30" rows="10"></textarea>
                        </div>
                    </form>
                </div>
                <div class="checkout_right">
                    <h3>YOUR ORDER</h3>
                    <div class="products">
                        <div class="product">
                            <div class="product_head">
                                <div class="product_name">
                                    CASTLE NATHRIA HEROIC RUN (traders only EU)
                                </div>
                                <div class="product_price">$50.40</div>
                            </div>
                            <div class="product_options">
                                <div class="option">Select options::
                                    7/10 bosses
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="subtotal">
                        <p>Subtotal</p>
                        <p id="subtotal">$50.40</p>
                    </div>
                    <div style="display: none" class="coupon">
                        <p id="coupon_name">Coupon: </p>
                        <p id="coupon_price" style="color: darkred"><span class="coupon_remove">Remove</span></p>
                    </div>
                    <div class="total">
                        <p>total</p>
                        <p id="cart_total">$50.40</p>
                    </div>
                    <div class="agree">
                        <label>I have read and agree to the website terms and conditions</label>
                        <div class="checkbox">
                            <input class="addition" type="checkbox" id="cd2">
                            <label class="custom" for="cd2">
                                <div class="tick"></div>
                            </label>
                        </div>
                    </div>
                    <div class="button">
                        <a href="#">PLACE ORDER</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}