{% extends 'basic/basic.html' %}
{% load static %}

{% block title %}Checkout - ANTORUS{% endblock %}

{% block content %}
    <section class="checkout_section">
        <div class="container">
            <h2>CHECKOUT</h2>
            <div class="checkout_content">
                <div class="checkout_left">
                    <h3>BILLING DETAILS</h3>
                    <form>
                        <div class="connections">
                            <label for="connection" class="required">Skype or Discord</label>
                            <input id="connection" type="text">
                        </div>
                        {% if user.is_authenticated %}
                            <div class="email">
                                <label for="email" class="required">email</label>
                                <input value="{{ user.email }}" id="email" type="email" required>
                            </div>
                        {% else %}
                            <div class="email">
                                <label for="email" class="required">email</label>
                                <input id="email" type="email" required>
                            </div>
                        {% endif %}
                        <div class="comment">
                            <label for="comment">Comment to the order (optional)</label>
                            <textarea id="comment" name="comment" cols="30" rows="10"></textarea>
                        </div>
                    </form>
                    <div class="payment_section">
                        <div class="payment_options">
                            <div data-index="5" data-payment-type="bepaid" class="payment_option"></div>
                            <div data-index="0" data-payment-type="paypal" class="payment_option"></div>
                            <div data-index="1" data-payment-type="plisio" class="payment_option"></div>
                            <div data-index="2" data-payment-type="plisio" class="payment_option"></div>
                            <div data-index="3" data-payment-type="plisio" class="payment_option"></div>
                            <div data-index="4" data-payment-type="plisio" class="payment_option"></div>
                        </div>
                        <div class="payment_information">
                            <p style="display: none" class="success">
                                PayPal<br>
                                After click "PLACE ORDER" - contact our operator for direct payment to one of our PayPal
                                accounts at no additional commission.
                            </p>
                            <p style="display: none" class="success">
                                Tether TRC-20<br>
                                Minimum payment via this method - 150$/€.
                                Or contact our operator for direct payment to our USDT-TRC20 crypto wallet.
                                Possibly payment any cryptocurrency to our wallet - check with operator.
                            </p>
                            <p style="display: none" class="success">
                                Bitcoin<br>
                                Minimum payment via this method - 2$/€.
                                Possibly payment any cryptocurrency to our wallet - check with operator.
                            </p>
                            <p style="display: none" class="success">
                                Litecoin<br>
                                Minimum payment via this method - 2$/€
                                Possibly payment any cryptocurrency to our wallet - check with operator.
                            </p>
                            <p style="display: none" class="success">
                                Ethereum<br>
                                Minimum payment via this method 0.04 ETH.
                                Or contact our operator for direct payment to our ETH crypto wallet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="checkout_right">
                    <h3>YOUR ORDER</h3>
                    <div class="products">
                        {% for product in cart.products %}
                            <div class="product">
                                <div class="product_head">
                                    <div class="product_name">{{ product.name }} x {{ product.quantity }}</div>
                                    <div class="product_price">{{ cart.sign }} {{ product.total }}</div>
                                </div>
                                <div class="product_options">
                                    {% for option in product.options %}
                                        <div class="options">Select options: {{ option.name }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="subtotal">
                        <p>Subtotal</p>
                        <p id="subtotal">{{ cart.sign }} {{ cart.subtotal }}</p>
                    </div>
                    <div {% if cart.coupon %}style="display: flex"{% else %}style="display: none"{% endif %}
                         class="coupon">
                        <p id="coupon_name">Coupon: {{ cart.coupon }}</p>
                        <p id="coupon_price" style="color: #45db428c">{{ cart.sign }} -{{ cart.discount }}</p>
                    </div>
                    <div class="total">
                        <p>Total</p>
                        <p id="cart_total">{{ cart.sign }} {{ cart.total }}</p>
                    </div>
                    <div class="agree">
                        <label id="cd2_label">I have read and agree to the website terms and conditions</label>
                        <div class="checkbox">
                            <input class="addition" type="checkbox" id="cd2">
                            <label class="custom" for="cd2">
                                <span class="tick"></span>
                            </label>
                        </div>
                    </div>
                    <div class="button">
                        <button id="submit_button">PLACE ORDER</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/checkout_15.js' %}"></script>
{% endblock %}