{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block title %}FAQ - ANTORUS{% endblock %}

{% block content %}
    <section class="faq_section">
        <div class="container">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <h4>Why Shall You Choose ANTORUS.COM?</h4>
            <p>By ordering services from us, you may be 100% confident in receiving the best possible services. We
                always strive to provide our services as fast as possible. The methods that we choose for security are
                guaranteed to proving secure and reliable deals.</p>
            <h4>The Working Hours.</h4>
            <p>ANTORUS.COM is available 24/7, 365 a year, on holidays and days off. If you would like to have a direct
                communication with us, simply text us via Skype, Discord, email or directly through the site by tapping
                at “CHAT WITH US” button.</p>
            <h4>What Happens After I Place an Order?</h4>
            <p>Easy “as pie”! Choose the service from the list of services, tick the main and secondary options (if
                applicable). After you have added all the preferable services in the shopping card, check the entire
                list continue at paying section. As soon as payment is done, our team-member will contact you shortly.
                For any enquiries you may contact with our operator at any time via Skype or Discord (it guarantees the
                fastest communication).</p>
            <h4>What if I Would Like the Service That is Not at the List?</h4>
            <p>If this sad situation happened, simply contact with our support team and we will try our best to provide
                service you require at the cheapest possible price and discount.</p>
            <h4>What if I Don’t Have Skype (Discord) or Not Willing to Talk?</h4>
            <p>The entire communication via Skype or Discord is made by texting and not involving any voice contact. We
                strongly insist to communicate via Skype or Discord due to its convenience (comparing to email), in
                addition both methods of communication are secure and easy to install.</p>
            <h4>What is the Difference Between Self-Play and Account Sharing?</h4>
            <p>For your convenience and time-saving we propose to use account sharing method. This method intend that
                you will pass all the details of your account. However, you might choose self-playing boosting, in this
                case we boost your character with our team’s group.</p>
            <h4>How to Unlock Your Account When Using the Account Sharing?</h4>
            <p style="margin-bottom: 10px">There are few ways doing so:</p>
            <ol>
                <li>Using Battle.net authenticator. You simply provide us the code or approve the new device by tapping
                    the Approve button on your device’s screen, we will start our service.
                </li>
                <li>Using SMS alerts. Similar, but you receiving the code via SMS, not from the app.</li>
                <li>Using Email. If you are using this option to guarantee the security of your account, you need to
                    check your email and report the security come from the email.
                </li>
            </ol>
            <h4>Why is Account Sharing Cheaper than Self-Play?</h4>
            <p>Firstly, it’s time-saving. Plus, some actions are requiring specific knowledge of game and it might take
                plenty of effort to explain all the details, tactics and mechanics. In additions, some services require
                specific skills teamwork. However, Self-Play is available for most of our services.</p>
            <h4>How Can I Cancel My Order?</h4>
            <p>The order can be cancelled at any time, but at least 12 hours ahead of execution time of service. The
                execution time will be announced by our team-member via chosen communication channel.</p>
            <h4>Have Any Complains or Suggestions?</h4>
            <p>It is our primary target to make our Customer being happy with any service of ours. That is the reason
                why we are asking every Customer to specify any additional suggestions during placing the order. If
                there are any further complains after the execution of the service, we would like to hear from you.
                Simply contact with our support team and describe the issue. We will carefully go through your complain
                and investigate weather the service provided was up to our highest standard. If not, you will be paid a
                full or partial refund.</p>
            <h4>How Does the Payment Works?</h4>
            <p>Our payment system is credit or debit card or online banking. This system guarantees 100% safety for
                every single operation, guarantees full security to Customer and secures the payments.</p>
            <h4>Do You Have Discounts?</h4>
            <p>Sure, we do! We always strive to provide best possible services at best possible price. However, if you
                looking for the price even cheaper, let us know by contacting our team-member and we will try to push
                and make the price even lower. Last, but not least, for our loyal Customers we provide <b>discounts up to
                30%!</b></p>
        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}