{% extends 'basic/basic.html' %}
{% load static %}

{% block meta %}
    {{ seo.meta|safe }}
{% endblock %}

{% if seo.title %}
    {% block title %}{{ seo.title }}{% endblock %}
{% endif %}

{% block styles %}
    <style>
        body {
            background-image: none;
            display: block;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="slider">
        <div class="sliders">
            <div data-id="0" class="intro_section slide_one">
                <div class="container">
                    <div class="intro_content content_one">
                        <p>World of Warcraft</p>
                        <h2>The War Within</h2>
                        <p>We offer WoW boosting of all types: Raids every hour, PvP, Mythic+ carry, powerleveling, farming and more to help save your time</p>
                        <div class="intro_buttons">
                            <a href="/result/all/">VIEW MORE</a>
                            <p class="chatButton">CHAT WITH US</p>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="1" class="intro_section slide_two">
                <div class="container">
                    <div class="intro_content content_one">
                        <p>Antorus</p>
                        <h1>World of Warcraft Boosting Services</h1>
                        <p>Professional service that connects World of Warcraft players and boosters. our task is to
                            make cooperation convenient and safe</p>
                        <div class="intro_links">
                            <a href="{% url 'category' slug='raids' %}">Raid</a>
                            <a href="{% url 'category' slug='powerleveling' %}">Leveling</a>
                            <a href="{% url 'category' slug='dungeons' %}">Dungeons</a>
                        </div>
                    </div>
                </div>
            </div>
            <div data-id="2" class="intro_section slide_three">
                <div class="container">
                    <div class="intro_content content_one">
                        <p>Antorus</p>
                        <h1>Cataclysm Classic</h1>
                        <p>Buy Cataclysm Classic services and enjoy professional carry in all categories with Antorus</p>
                        <div class="intro_buttons">
                            <a href="/category/wow-cataclysm/">BROWSE PRODUCTS</a>
                            <p class="chatButton">CHAT WITH US</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="switch_buttons">
            <button data-id="0" class="switch_buttons_item switch_buttons_item_active"></button>
            <button data-id="1" class="switch_buttons_item"></button>
            <button data-id="2" class="switch_buttons_item"></button>
        </div>
    </div>
    <div class="products_sections">
        <div class="container">
            {% if special_offers %}
                <h2 class="special_offers_title">SPECIAL OFFERS</h2>
                <div class="special_offers">
                    <div class="slider_arrow left">
                        <div class="arrow-top-slider"></div>
                        <div class="arrow-bottom-slider"></div>
                    </div>
                    <div class="special_offers_slider">
                        <div class="special_offers_items">
                            {% for item in special_offers %}
                                <div class="special_offers_item">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.alt }}">
                                    <h4>{{ item.title }}</h4>
                                    <p>{{ item.description|safe }}</p>
                                    <a href="{{ item.product.get_absolute_url }}">VIEW MORE</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slider_arrow right">
                        <div class="arrow-top-slider"></div>
                        <div class="arrow-bottom-slider"></div>
                    </div>
                </div>
            {% endif %}

            <div class="products_content">
                <div id="nav_bar" class="nav_bar">
                    <p>CATEGORIES</p>
                    <nav>
                        {% for category in categories %}
                            <div class="nav_link">
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {% if category.categories_subcategories.all %}
                                    <span></span>
                                {% endif %}
                            </div>
                            {% if category.categories_subcategories.all %}
                                <div style="display: none" class="accordion">
                                    {% for subcategory in category.categories_subcategories.all %}
                                        {% if not subcategory.archive %}
                                            <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="nav_link">
                            <a href="/result/all/">All products</a>
                        </div>
                    </nav>
                </div>
                <div class="products_block">
                    <h2>OUR BEST OFFERS TODAY</h2>
                    <div class="products">
                        {% for product in products %}
                            {% with product=product.product %}
                                {% include 'basic/product_item.html' %}
                            {% endwith %}
                            {% if forloop.counter == 6 %}
                                <div class="custom_order_banner">
                                    <h5>Need Help?<br> Build your custom order</h5>
                                    <p class="custom_order_banner_content">Message us and get help from a PRO
                                        player.<br>
                                        We will find the best offer for you or build<br>
                                        a personal order at a lower price. </p>
                                    <p class="create_custom_order_button chatButton">CREATE CUSTOM ORDER</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="show_all">
                        <a href="{% url 'result' search='all' %}">Show All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="forums_section">
        <div class="container">
            <div class="forums_content">
                <div class="forums_item">
                    <img src="{% static 'img/OWNEDCORE.png' %}" alt="">
                    <h3>OWNEDCORE</h3>
                    <a rel="nofollow"
                       href="https://www.ownedcore.com/forums/mmo-trading-market/world-of-warcraft-buy-sell-trade/924904-eu-us-50-60-leveling-torghast-castle-nathria-gearing-arena-cheap.html"
                       target="_blank">Show
                        all reviews</a>
                </div>
                <div class="forums_item">
                    <img src="{% static 'img/reviewsio.jpg' %}" alt="">
                    <h3>REVIEWS.io</h3>
                    <a rel="nofollow"
                       href="https://www.reviews.io/company-reviews/store/Antorus.com"
                       target="_blank">Feedback from our customers on REVIEWS.io</a>
                </div>
                <div class="forums_item">
                    <img src="{% static 'img/ELITEPVPERS.png' %}" alt="">
                    <h3>ELITEPVPERS</h3>
                    <a rel="nofollow"
                       href="https://www.elitepvpers.com/forum/world-warcraft-trading/4825784-eu-us-allseer-tidestorm-pre-order-shadowlands-50-60-cheap.html"
                       target="_blank">Show
                        all reviews</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/main_slider_1.js' %}"></script>
    <script src="{% static 'js/special_offers_slider_1.js' %}"></script>
{% endblock %}
