{% extends 'basic/basic.html' %}
{% load static %}

{% block meta %}
    {{ seo.meta|safe }}
{% endblock %}

{% if seo.title %}
    {% block title %}{{ seo.title }}{% endblock %}
{% endif %}

{% block styles %}
    <style>
        body {
            background-image: none;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="intro_section">
        <div class="container">
            <div class="intro_content">
                <p>WELCOME TO ANTORUS</p>
                <h2>SANCTUM OF DOMINATION</h2>
                <div class="intro_buttons">
                    <a href="/category/raids/sanctum-of-domination/">BROWSE PRODUCTS</a>
                    <p id="chatButton">CHAT WITH US</p>
                </div>
            </div>
        </div>
    </section>
    <section class="products_sections">
        <div class="container">
            <div class="products_content">
                <div id="nav_bar" class="nav_bar">
                    <nav>
                        {% for category in categories %}
                            <div class="nav_link">
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {% if category.categories_subcategories.all %}
                                    <span></span>
                                {% endif %}
                            </div>
                            {% if category.categories_subcategories.all %}
                                <div style="display: none" class="accordion">
                                    {% for subcategory in category.categories_subcategories.all %}
                                        {% if not subcategory.archive %}
                                            <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="nav_link">
                            <a href="/result/all/">All products</a>
                        </div>
                    </nav>
                </div>
                <div class="products_block">
                    <h2>BEST OFFERS TODAY</h2>
                    <div class="products">
                        {% for product in products %}
                            <a class="product_item" href="{{ product.product.get_absolute_url }}">
                                <img src="{{ product.product.image.url }}" alt="{{ product.product.alt }}">
                                <h4 class="name">{{ product.product.name }}</h4>
                                {% if currency == 'us' %}
                                    {% if product.product.new_price_dollar %}
                                        <div class="price">
                                            <p style="text-decoration: line-through;">
                                                $ {{ product.product.get_price_dollar }}</p>
                                            <p style="color: rgb(40, 168, 5);">
                                                $ {{ product.product.get_price_new_dollar }}</p>
                                        </div>
                                    {% else %}
                                        <p>{{ product.product.get_price_us }}</p>
                                    {% endif %}
                                {% else %}
                                    {% if product.product.new_price_euro %}
                                        <div class="price">
                                            <p style="text-decoration: line-through;">
                                                € {{ product.product.get_price_euro }}</p>
                                            <p style="color: rgb(40, 168, 5);">
                                                € {{ product.product.get_price_new_euro }}</p>
                                        </div>
                                    {% else %}
                                        <p>{{ product.product.get_price_eu }}</p>
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="show_all">
                        <a href="{% url 'result' search='all' %}">Show All</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copywriting_section">
        <div class="container">
            <div class="text_block">
                <div class="text">
                    <p><img style="padding: 10px 10px 10px 0;" src="{% static 'img/boost-wow-1.jpg' %}" alt="boost-wow"
                            align="left">For over
                        sixteen
                        years, players have been giving their free time to the world of WoW. Each of
                        them
                        aspires to become a hero in this game to go down in history as a winner. To get started, you
                        need to
                        choose a faction, to play in the ranks of the Horde or Alliance. Regardless of the status, the
                        player must get acquainted with boosting, equipment, reputation. There are also concepts like
                        farming gold, honor, and reputation. It will take a long time to boost your character on your
                        own.
                        Failures will haunt, and you may give up. But to enjoy the game, it is better to use the help of
                        our
                        service.</p>
                    <p>We note that leveling up is the most demanded service among players. Many people want to play in
                        different classes, but this requires a lot of free time. This fact can upset and discourage them
                        from playing. Farm equipment is often ordered by boost wow. It is because the best items are
                        farmed
                        in Mythic and Raid dungeons mode. If you don’t have experienced players on your team, it will be
                        very difficult to get them. Many participants just want to enjoy the battles, get equipment into
                        the
                        collection without any trouble. That’s what a warcraft boost is invented for.</p>
                </div>
            </div>
            <div class="text_block">
                <div class="text">
                    <h4>WHY SHOULD YOU CONTACT US?</h4>
                    <p><img style="padding: 10px 0 10px 10px;" src="{% static 'img/boost-wow-2.jpg' %}" alt="boost-wow"
                            align="right">We are a professional
                        service that connects World of Warcraft players and boosters. Our task is to make cooperation
                        convenient and safe. Services are provided at a very reasonable cost. Wow boosting service will
                        help you to determine the number of items in your bag. While ordering services from us a client
                        can choose an individual boosting package for himself. By the way, we have developed a
                        comprehensible interface to make it easier to find the required World of Warcraft boost.

                    </p>
                    <p>So, if you still have a question about whether it is worth boosting your character or not, look
                        at the benefits. Initially, you have to spend a lot of time on farming. Only few people are
                        capable of doing routine work that brings pleasure. It is better to take on more complex tasks
                        as soon as possible. Instead of it, players do the same things to get some kind of mounts, pets,
                        achievements.</p>
                    <p>Just think about how many hours you’ve spent farming. Probably you didn’t like it terribly. That
                        is why we have created a team where professionals can take away your routine.</p>
                    <p>Considering the best part of the game, there will be raids. Unfortunately, you have to meet
                        strict requirements to play there. The raider must have sophisticated equipment and play on a
                        strict schedule. A big problem for players is the need to complete tasks under pressure,
                        spending a huge amount of time. It turns out that for a good game you need to bet everything.
                        What is to be done? Do you really have to choose between the virtual and the real world?</p>
                    <p>Our company was created to help the gamers. With us, they will feel like an integral part of a
                        powerful community.</p>
                </div>
            </div>
            <div class="text_block">
                <div class="text">
                    <h4>WHO IS THE SERVICE FOR?</h4>
                    <p><img style="padding: 10px 10px 10px 0;" src="{% static 'img/boost-wow-3.jpg' %}" alt="boost-wow"
                            align="left">We offer assistance not only for beginners but also for players who have been
                        in WoW for a while. There are many subtleties in the gameplay that cannot be immediately
                        discovered. A boosting of your hero will take a long time.</p>
                    <p>If you don’t want to waste time on boring quests, order our character level up service from
                        us.</p>
                    <p>If you are a new player, you will also need our help. It will take a lot of effort and time to
                        make heroic raids again. What is the reason for accepting the LFR if you can get through the
                        raid in the hardest mode and get the best equipment? If you’ve chosen to fight with the last
                        boss on Mythic mode, we’ll help you get the Cutting Edge prestige achievement.</p>
                    <p>A team of professional players is ready to help you with any raid. The cost of services depends
                        on the option you choose.</p>
                </div>
            </div>
            <div class="text_block">
                <div class="text">
                    <h4>WHAT CAN YOU GET?</h4>
                    <p>Also you can order boosting in raids from us. For those who want to increase their rating in the
                        arena and win a lot of games, cooperation with our company will be useful. It is clear, however,
                        that it is quite difficult to find players who are experienced and reliable. It is better to
                        order a service from us to avoid any risk and get the maximum good features of the game.
                        Cooperation will be pleasant and cost-effective. You will know that the professionals support
                        you and they can meet the challenge.</p>
                    <p style="font-weight: 900;">
                        <img style="padding: 10px 0 10px 10px;"
                             src="{% static 'img/boost-wow-4.jpg' %}" alt="boost-wow"
                             align="right">The PvP upgrade service includes arena training, ratings, victories, and
                        mounts.</p>
                    <p>If you need to boost the dungeon, purchase this offer for co-players. You will be able to get a
                        lot of equipment, mounts and dungeon passing. So you will take the Key Master achievement or
                        Glory of the Hero.</p>
                    <p style="font-weight: 900;">We will also help you achieve, boost, and get:</p>
                    <ul>
                        <li>legacy raid boosts;</li>
                        <li>covenant, WQ, anima farm;</li>
                        <li>powerleveling;</li>
                    </ul>
                    <p>In the last-mentioned case, you can count on boost in power to level-cap, gearing your character
                        and etc. boost wow</p>
                </div>
            </div>
            <div class="text_block">
                <div class="text">
                    <h4>BENEFITS</h4>
                    <p><img style="padding: 10px 10px 10px 0;" src="{% static 'img/boost-wow-5.jpg' %}" alt="boost-wow"
                            align="left">To play for fun, you need to get weapons, skills, items. How can a beginner
                        take it all? No way! Only by spending a lot of time, gaining experience from their trials and
                        mistakes, rewards are awarded. We understand that not everyone wants to play like this. It is a
                        good wish that we support.</p>
                    <p>We offer to use the services of a company which employs professionals. Whatever task the client
                        sets, everything is done at the highest level. Check out the list of our offers. You will see
                        that you are able to order a package of services at once or several selective offers. The price
                        depends on the complexity and the number of tasks. We have set an appropriate cost for our work.
                        This interaction with players is beneficial to both parties.</p>
                    <p>It is easy to make sure of our honesty. Check out the reviews of former customers on the site.
                        And some customers use our help systematically.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about_section">
        <div class="container">
            <h2>THE BEST BOOSTING IN AZEROTH!</h2>
            <div class="about_content">
                <div class="about_item">
                    <img src="{% static 'img/support.png' %}" alt="">
                    <h3>SUPPORT</h3>
                    <p>We are up to your service 24/7.</p>
                </div>
                <div class="about_item">
                    <img src="{% static 'img/discount.png' %}" alt="">
                    <h3>DISCOUNTS</h3>
                    <p>We strive to have the most affordable price for our Customers and we are always ready to provide
                        additional discount.</p>
                </div>
                <div class="about_item">
                    <img src="{% static 'img/secure.png' %}" alt="">
                    <h3>SECURE</h3>
                    <p>Everything is strictly confidential and secure for you account.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="reviews_section">
        <div class="container">
            <h2>READ OUR REVIEWS</h2>
            <div class="review_content">
                <!-- TrustBox widget - Carousel -->
                <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36"
                     data-businessunit-id="5c04f06812c7bf0001af86e0" data-style-height="200px" data-style-width="100%"
                     data-theme="dark" data-stars="1,2,3,4,5" data-review-languages="en">
                    <a href="https://www.trustpilot.com/review/antorus.com" target="_blank"
                       rel="noopener">Trustpilot</a>
                </div>
                <!-- End TrustBox widget -->
            </div>
        </div>
    </section>
    <sections class="forums_section">
        <div class="container">
            <div class="forums_content">
                <div class="forums_item">
                    <img src="{% static 'img/OWNEDCORE.png' %}" alt="">
                    <h3>OWNEDCORE</h3>
                    <a rel="nofollow"
                       href="https://www.ownedcore.com/forums/mmo-trading-market/world-of-warcraft-buy-sell-trade/924904-eu-us-50-60-leveling-torghast-castle-nathria-gearing-arena-cheap.html"
                       target="_blank">Show
                        all reviews</a>
                </div>
                <div class="forums_item">
                    <img src="{% static 'img/EPICNPC.png' %}" alt="">
                    <h3>EPICNPC</h3>
                    <a rel="nofollow"
                       href="https://www.epicnpc.com/threads/eu-us-50-60-leveling-torghast-castle-nathria-gearing-arena-%F0%9F%94%A5cheap%F0%9F%94%A5.1749008/"
                       target="_blank">Show
                        all reviews</a>
                </div>
                <div class="forums_item">
                    <img src="{% static 'img/ELITEPVPERS.png' %}" alt="">
                    <h3>ELITEPVPERS</h3>
                    <a rel="nofollow"
                       href="https://www.elitepvpers.com/forum/world-warcraft-trading/4825784-eu-us-allseer-tidestorm-pre-order-shadowlands-50-60-cheap.html"
                       target="_blank">Show
                        all reviews</a>
                </div>
            </div>
        </div>
    </sections>
{% endblock %}

