{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <section class="intro_section">
        <div class="container">
            <div class="intro_content">
                <p>WELCOME TO ANTORUS</p>
                <h2>CASTLE NATHRIA</h2>
                <div class="intro_buttons">
                    <a href="{% url 'result' search='all' %}">BROWSE PRODUCTS</a>
                    <p id="chatButton">CHAT WITH US</p>
                </div>
            </div>
        </div>
    </section>
    <section class="products_sections">
        <div class="container">
            <div class="products_content">
                <div class="nav_bar">
                    <nav>
                        {% for category in categories %}
                            <div class="nav_link">
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                {% if category.categories_subcategories.all %}
                                    <span></span>
                                {% endif %}
                            </div>
                            {% if category.categories_subcategories.all %}
                                <div style="display: none" class="accordion">
                                    {% for subcategory in category.categories_subcategories.all %}
                                        <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </div>
                <div class="products_block">
                    <h2>BEST OFFERS TODAY</h2>
                    <div class="products">
                        {% for product in products %}
                            <a class="product" href="{{ product.product.get_absolute_url }}">
                                <img src="{{ product.product.image.url }}" alt="">
                                <h4 class="name">{{ product.product.name }}</h4>
                                {% if currency == 'us' %}
                                    {% if product.product.new_price_dollar %}
                                        <div class="price">
                                            <p style="text-decoration: line-through;">
                                                $ {{ product.product.get_price_dollar }}</p>
                                            <p style="color: rgb(40, 168, 5);">$ {{ product.product.get_price_new_dollar }}</p>
                                        </div>
                                    {% else %}
                                        <p>{{ product.product.get_price_us }}</p>
                                    {% endif %}
                                {% else %}
                                    {% if product.product.new_price_euro %}
                                        <div class="price">
                                            <p style="text-decoration: line-through;">€ {{ product.product.get_price_euro }}</p>
                                            <p style="color: rgb(40, 168, 5);">€ {{ product.product.get_price_new_euro }}</p>
                                        </div>
                                    {% else %}
                                        <p>{{ product.product.get_price_eu }}</p>
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="copywriting_section">
        <div class="container">
            <div class="text_1_block">
                <div class="text_1">
                    <p><img src="{% static 'img/boost-wow-1.jpg' %}" alt="boost-wow" align="left">For over
                        sixteen
                        years, players have been giving their free time to the world of WoW. Each of
                        them
                        aspires to become a hero in this game to go down in history as a winner. To get started, you
                        need to
                        choose a faction, to play in the ranks of the Horde or Alliance. Regardless of the status, the
                        player must get acquainted with boosting, equipment, reputation. There are also concepts like
                        farming gold, honor, and reputation. It will take a long time to boost your character on your
                        own.
                        Failures will haunt, and you may give up. But to enjoy the game, it is better to use the help of
                        our
                        service.</p>
                    <p>We note that leveling up is the most demanded service among players. Many people want to play in
                        different classes, but this requires a lot of free time. This fact can upset and discourage them
                        from playing. Farm equipment is often ordered by boost wow. It is because the best items are
                        farmed
                        in Mythic and Raid dungeons mode. If you don’t have experienced players on your team, it will be
                        very difficult to get them. Many participants just want to enjoy the battles, get equipment into
                        the
                        collection without any trouble. That’s what a warcraft boost is invented for.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="about_section">
        <div class="container">
            <h2>THE BEST BOOSTING IN AZEROTH!</h2>
            <div class="about_content">
                <div class="about_item">
                    <img src="{% static 'img/support.png' %}" alt="">
                    <h3>SUPPORT</h3>
                    <p>We are up to your service 24/7.</p>
                </div>
                <div class="about_item">
                    <img src="{% static 'img/discount.png' %}" alt="">
                    <h3>DISCOUNTS</h3>
                    <p>We strive to have the most affordable price for our Customers and we are always ready to provide
                        additional discount.</p>
                </div>
                <div class="about_item">
                    <img src="{% static 'img/secure.png' %}" alt="">
                    <h3>SECURE</h3>
                    <p>Everything is strictly confidential and secure for you account.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="reviews_section">
        <div class="container">
            <h2>READ OUR REVIEWS</h2>
            <div class="review_content">
                <!-- TrustBox widget - Carousel -->
                <div class="trustpilot-widget" data-locale="en-US" data-template-id="53aa8912dec7e10d38f59f36"
                     data-businessunit-id="5c04f06812c7bf0001af86e0" data-style-height="200px" data-style-width="100%"
                     data-theme="dark" data-stars="1,2,3,4,5" data-review-languages="en">
                    <a href="https://www.trustpilot.com/review/antorus.com" target="_blank"
                       rel="noopener">Trustpilot</a>
                </div>
                <!-- End TrustBox widget -->
            </div>
        </div>
    </section>
    <sections class="forums_section">
        <div class="container">
            <div class="forums_content">
                <div class="forums_item">
                    <img src="{% static 'img/OWNEDCORE.png' %}" alt="">
                    <h3>OWNEDCORE</h3>
                    <a href="https://www.ownedcore.com/forums/mmo-trading-market/world-of-warcraft-buy-sell-trade/924904-eu-us-50-60-leveling-torghast-castle-nathria-gearing-arena-cheap.html"
                       target="_blank">Show
                        all reviews</a>
                </div>
                <div class="forums_item">
                    <img src="{% static 'img/EPICNPC.png' %}" alt="">
                    <h3>EPICNPC</h3>
                    <a href="https://www.epicnpc.com/threads/eu-us-50-60-leveling-torghast-castle-nathria-gearing-arena-%F0%9F%94%A5cheap%F0%9F%94%A5.1749008/"
                       target="_blank">Show
                        all reviews</a>
                </div>
                <div class="forums_item">
                    <img src="{% static 'img/ELITEPVPERS.png' %}" alt="">
                    <h3>ELITEPVPERS</h3>
                    <a href="https://www.elitepvpers.com/forum/world-warcraft-trading/4825784-eu-us-allseer-tidestorm-pre-order-shadowlands-50-60-cheap.html"
                       target="_blank">Show
                        all reviews</a>
                </div>
            </div>
        </div>
    </sections>
{% endblock %}

