{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}My Account - ANTORUS{% endblock %}

{% block content %}
    <section class="login_section">
        <div class="container">
            <h2>MY ACCOUNT</h2>
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li style="color: white" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            <div class="login_content">
                <div class="login_left">
                    <h3>LOGIN</h3>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <label class="required">Username or email address</label>
                            <input name="username" type="text" required>
                        </div>
                        <div>
                            <label class="required">Password</label>
                            <input name="password" type="password" required>
                        </div>
                        <div class="login_footer">
                            <button type="submit">LOG IN</button>
                            <a href="{% url 'reset_password' %}">Lost your password?</a>
                        </div>
                    </form>
                </div>
                <div class="login_right">
                    <h3>REGISTER</h3>
                    <form action="{% url 'createAccount' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <label class="required">Username</label>
                            <input name="username" type="text" required>
                        </div>
                        <div>
                            <label class="required">Email address</label>
                            <input name="email" type="email" required>
                        </div>
                        <div>
                            <label class="required">Password</label>
                            <input name="password1" type="password" required>
                        </div>
                        <div>
                            <label class="required">Repeat password</label>
                            <input name="password2" type="password" required>
                        </div>
                        <button type="submit">REGISTER</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}