{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PayPal</title>
</head>

<body>
<div style="height: 100vh; display: flex; justify-content: center; align-items: center">
    <div style="width: 600px;" id="paypal-button-container"></div>
</div>
<script src="{% static 'js/axios.js' %}"></script>
<script src="{% static 'js/main_11.js' %}"></script>
<script
        data-sdk-integration-source="integrationbuilder_sc"
        src="https://www.paypal.com/sdk/js?client-id=AQuMKG2vGWcudTm5hrnXVdPAtO09SZuoRYI0mVHlIV1kM_RU3Ekv1sLjYRaBb1CwZCSOlx7BjTzuUwRz&components=buttons&enable-funding=venmo,paylater"></script>
<script>
    const FUNDING_SOURCES = [
        // EDIT FUNDING SOURCES
        paypal.FUNDING.PAYPAL,
        paypal.FUNDING.CARD
    ];
    FUNDING_SOURCES.forEach(fundingSource => {
        paypal.Buttons({
            fundingSource,

            style: {
                layout: 'vertical',
                shape: 'rect',
                color: (fundingSource == paypal.FUNDING.PAYLATER) ? 'gold' : '',
            },

            createOrder: async (data, actions) => {
                try {
                    const orderNumber = '{{ order_number }}'
                    const response = await instance.post('paypalCreateOrder/', {orderNumber}, {
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    })

                    const details = response.data;
                    return details.id;
                } catch (error) {
                    console.error(error);
                    // Handle the error or display an appropriate error message to the user
                }
            },


            onApprove: async (data, actions) => {
                try {
                    const response = await instance.post('paypalCaptureOrder/', {orderID: data.orderID}, {
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken')
                        }
                    })

                    const details = response.data;
                    // Three cases to handle:
                    //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                    //   (2) Other non-recoverable errors -> Show a failure message
                    //   (3) Successful transaction -> Show confirmation or thank you message

                    // This example reads a v2/checkout/orders capture response, propagated from the server
                    // You could use a different API or structure for your 'orderData'
                    const errorDetail = Array.isArray(details.details) && details.details[0];

                    if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                        return actions.restart();
                        // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                    }

                    if (errorDetail) {
                        let msg = 'Sorry, your transaction could not be processed.';
                        msg += errorDetail.description ? ' ' + errorDetail.description : '';
                        msg += details.debug_id ? ' (' + details.debug_id + ')' : '';
                        alert(msg);
                    }

                    // Successful capture! For demo purposes:
                    console.log('Capture result', details, JSON.stringify(details, null, 2));
                    const transaction = details.purchase_units[0].payments.captures[0];
                    window.location.replace("https://antorus.com/successOrder?order_number={{ order_number }}&payment_type=paypal");
                } catch (error) {
                    console.error(error);
                    // Handle the error or display an appropriate error message to the user
                }
            },
        }).render("#paypal-button-container");
    })
</script>
</body>

</html>