{% extends 'basic/basic.html' %}
{% load static %}

{% block title %}PRIVACY POLICY - ANTORUS{% endblock %}

{% block content %}
    <section class="privacy_policy_section">
        <div class="container">
            <h2>PRIVACY POLICY</h2>
            <br>
            <p>ANTORUS.COM (from now onwards “The Site”) is taking a full responsibility over respecting your privacy
                rights and guarantees to put all the efforts to protect any Personal Information, provided to the
                Site.</p>
            <p>The Privacy Policy reflects the way the Site will be collecting, storing and using the Personal
                Information of the Customer via any communication channel, including but not limited the email,
                telephone and post.</p>
            <p>The Privacy Policy reflects how the Customer may interact with the Site in order to correct or erase
                Personal Information.</p>
            <p>“Personal Information” is any information which can identify the Customer as specific person, including
                but not limited by name, address, phone number or email. The Site is collecting only the specific
                information, which is mandatory to have in order to provide the best possible service for every
                Customer</p>
            <br>
            <h4>Collecting the Information</h4>
            <p>Some data might be collected each time when the Customer visits the Site. This data called “cookies”. As
                well, the Site automatically collects the information about the pages the Customer visits at the Site.
                Any mentioned information collected above is not in any case reflects personal information of the
                Customer. The Site is not in any case collects or uses any payment details and has no access to such
                data.</p>
            <br>
            <h4>The Way We Use Cookies</h4>
            <p>The Site uses cookies in order to interact with the Customer’s browser. A cookie is an alphanumeric
                identifier (a file) that is being transferred by the Site to the Customer’s hard drive, in order to
                record the history of actions done by the Customer. The cookies are not being collected as soon as the
                Customer leaves the Site. In general, the cookies are being use for easier navigation at the Site by the
                Customer as well as the most often visited pages of the Site. In addition, cookies are being used at the
                sections where the Customer registers at the Site, and area where the Customer updates the
                information.</p>
            <p>It is the Customer’s option to restrict collection of cookies by the Site, however this may cause
                inability for the Customer to use certain features.</p>
            <p>The Site is permitting to the “Third Party Advertisers” to read the cookies and the Site has no control
                over the usage of such information, however the “Third Party Sources” section below describes the main
                rules for Third Party Sources.</p>
            <br>
            <h4>Logs and How We Use It</h4>
            <p>The Site is automatically collecting, storing and processing the got files. Logs include but not limited
                to Internet Protocols (IPs) addresses, the browser that is being used by the Customer, the Internet
                Services Provider (ISP), the pages from which the Customer were referred, type of the Customer’s
                operating system, date and time. This information is being used for purpose of analyzation the trends,
                monitor and block any possible frauds, tracking the Customer’s movements around the Site.</p>
            <br>
            <h4>Third Party Sources</h4>
            <p>In order to provide best possible services to the Customer, increase the level of personalization, the
                Site is using information, that has been obtained by Third Party Sources.</p>
            <br>
            <h4>Safety of Personal Data</h4>
            <p>The Site is protecting privacy of every Customer it collects. The Site uses appropriate administrative
                protocols, technical safeguards, and physical security controls that was created to limit access, find
                and brake any unauthorized access attempts or take control over the Personal Information.</p>
            <p>In addition, the Site uses Secure Socket Layer (SSL) protocols at any time which encrypt the information,
                when the Customer is sending, saving, delegating any type of information at the Site, including the
                Customer’s Account.</p>
            <p>The site at any time follows the procedures set forth in order to guarantee 100% guarantee of saving the
                Personal Information, that was submitted to the Site of its server.</p>
            <p>To conclude the mentioned above, the Site is collecting certain information for purpose of marketing and
                providing the best possible services to the Customer, however the Site is taking all the possible
                actions in order to protect the Customer’s Personal Information at any time.</p>
            <p>Whenever there are any further questions that might arise, feel free to contact the Site’s administration
                by email at any time.</p>
        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}