{% extends 'basic/basic.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkbox.css' %}">
{% endblock %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <section class="product_section">
        <div class="container">
            <div class="product_content">
                <div class="product_left">
                    <div class="product_img">
                        <img src="{{ product.image.url }}" alt="">
                    </div>

                    {% if product.product_required_option.all %}
                        <div class="required_options">
                            <p>Select options:</p>
                            {% for option in product.product_required_option.all %}
                                <div class="option"
                                     data-price-us="{{ option.get_option_price_dollar }}"
                                     data-price-eu="{{ option.get_option_price_euro }}"
                                     data-name="{{ option.name }}"
                                     data-id="{{ option.pk }}">
                                    <div class="checkbox">
                                        <input class="required parent" type="checkbox"
                                               id="cd{{ option.name }}{{ option.pk }}">
                                        <label class="custom" for="cd{{ option.name }}{{ option.pk }}">
                                            <div class="tick"></div>
                                        </label>
                                    </div>
                                    <div class="option_name">{{ option.name }}</div>
                                    {% if currency == 'us' %}

                                        <div class="option_price {% if option.new_price_dollar %}old{% endif %}">
                                            $ {{ option.price_dollar }}</div>
                                        {% if option.new_price_dollar %}
                                            <div class="option_new_price">$ {{ option.new_price_dollar }}</div>
                                        {% endif %}

                                    {% else %}

                                        <div class="option_price {% if option.new_price_euro %}old{% endif %}">
                                            € {{ option.price_euro }}</div>
                                        {% if option.new_price_euro %}
                                            <div class="option_new_price">€ {{ option.new_price_euro }}</div>
                                        {% endif %}

                                    {% endif %}
                                    {% if option.description %}
                                        <div class="hint_img">
                                            <img class="question" width="15"
                                                 src="{% static 'img/question.png' %}" alt="">
                                        </div>
                                        <div class="option_hint">
                                            <div class="hint_text">{{ option.description }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if product.product_required_option.all %}
                        {% for option in product.product_required_option.all %}
                            {% if option.required_option_child.all %}
                                <div style="display: none"
                                     class="{% if product.child_required %}required_options{% else %}addition_options{% endif %} child_option">
                                    <p>Select options for {{ option.name }}</p>
                                    {% for child_option in option.required_option_child.all %}
                                        <div class="option"
                                             data-price-us="{{ child_option.get_option_price_dollar }}"
                                             data-price-eu="{{ child_option.get_option_price_euro }}"
                                             data-name="{{ child_option.name }}"
                                             data-parent-id="{{ option.pk }}">
                                            <div class="checkbox">
                                                <input class="required child" type="checkbox"
                                                       id="cd{{ child_option.name }}{{ child_option.pk }}">
                                                <label class="custom"
                                                       for="cd{{ child_option.name }}{{ child_option.pk }}">
                                                    <div class="tick"></div>
                                                </label>
                                            </div>
                                            <div class="option_name">{{ child_option.name }}</div>
                                            {% if currency == 'us' %}

                                                <div class="option_price {% if child_option.new_price_dollar %}old{% endif %}">
                                                    $ {{ child_option.get_option_price_dollar }}</div>
                                                {% if child_option.new_price_dollar %}
                                                    <div class="option_new_price">
                                                        $ {{ child_option.get_option_price_dollar }}</div>
                                                {% endif %}

                                            {% else %}

                                                <div class="option_price {% if option.new_price_euro %}old{% endif %}">
                                                    € {{ child_option.get_option_price_euro }}</div>
                                                {% if option.new_price_euro %}
                                                    <div class="option_new_price">
                                                        € {{ child_option.get_option_price_euro }}</div>
                                                {% endif %}

                                            {% endif %}
                                            {% if child_option.description %}
                                                <div class="hint_img">
                                                    <img class="question" width="15"
                                                         src="{% static 'img/question.png' %}" alt="">
                                                </div>
                                                <div class="option_hint">
                                                    <div class="hint_text">{{ child_option.description }}</div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    {% if product.product_addition_option.all %}
                        <div class="addition_options">
                            <p>Select options:</p>
                            {% for option in product.product_addition_option.all %}
                                <div class="option"
                                     data-price-us="{{ option.get_option_price_dollar }}"
                                     data-price-eu="{{ option.get_option_price_euro }}"
                                        {% if option.price_dollar < 1 %}
                                     data-percent-us="{{ option.price_dollar }}"
                                        {% endif %}
                                        {% if option.price_euro < 1 %}
                                     data-percent-eu="{{ option.price_euro }}"
                                        {% endif %}
                                     data-name="{{ option.name }}">
                                    <div class="checkbox">
                                        <input class="addition" type="checkbox" id="cd{{ option.name }}{{ option.pk }}">
                                        <label class="custom" for="cd{{ option.name }}{{ option.pk }}">
                                            <div class="tick"></div>
                                        </label>
                                    </div>
                                    <div class="option_name">{{ option.name }}</div>

                                    {% if currency == 'us' %}
                                        {% if option.price_dollar > 1 %}
                                            <div class="option_price {% if option.new_price_dollar %}old{% endif %}">
                                                $ {{ option.price_dollar }}</div>
                                            {% if new_price_dollar %}
                                                <div class="option_new_price">€ {{ option.new_price_dollar }}</div>
                                            {% endif %}
                                        {% else %}
                                            <div class="option_price"></div>
                                        {% endif %}
                                    {% else %}
                                        {% if option.price_euro > 1 %}
                                            <div class="option_price {% if option.new_price_euro %}old{% endif %}">
                                                € {{ option.price_euro }}</div>
                                            {% if option.new_price_euro %}
                                                <div class="option_new_price">€ {{ option.new_price_euro }}</div>
                                            {% endif %}
                                        {% else %}
                                            <div class="option_price"></div>
                                        {% endif %}
                                    {% endif %}
                                    {% if option.description %}
                                        <div class="hint_img">
                                            <img class="question" width="15"
                                                 src="{% static 'img/question.png' %}" alt="">
                                        </div>
                                        <div class="option_hint">
                                            <div class="hint_text">{{ option.description }}</div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="price">
                        {% if currency == 'us' and product.price_dollar > 0 %}
                            <p>$ {{ product.price_dollar }}</p>
                        {% elif currency == 'us' and product.price_dollar == 0 %}
                            <p>Choose options to continue</p>
                        {% elif currency == 'eu' and product.price_euro > 0 %}
                            <p>€ {{ product.price_dollar }}</p>
                        {% elif currency == 'eu' and product.price_euro == 0 %}
                            <p>Choose options to continue</p>
                        {% endif %}
                    </div>
                    <div class="product_buttons">
                        <div class="quantity">
                            <div class="minus"></div>
                            <div class="count">1</div>
                            <div class="plus">+</div>
                        </div>
                        <div class="add_to_cart">
                            <p>add to cart</p>
                        </div>
                    </div>
                </div>


                <div class="product_right">
                    <div class="product_name">{{ product.name }}</div>
                    <h3>DESCRIPTION</h3>
                    <div class="length">⏱️ Length: <span>{{ product.length }}</span></div>
                    <div class="requirements">⚠️ Character Requirements: <span>{{ product.char_req }}</span></div>
                    <div class="description">{{ product.description|safe }}</div>
                    <h3>FEEL FREE TO CONTACT OUR OPERATORS ANY TIME FOR ANY FURTHER INFORMATION. WE ARE ALWAYS FOR YOUR
                        SERVICE!</h3>
                </div>
            </div>
        </div>
        <div style="display: none" class="success">
            <p>{{ product.name }} has been added to your cart</p>
        </div>
        <div style="display: none" class="error">
            <p>Please choose requirement option</p>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        const quantityRequiredOptions = '{{ product.get_quantity_required_options }}'
        const quantityRequiredChildOptions = '{{ product.get_quantity_required_child_options }}'
        const quantityAdditionOptions = '{{ product.get_quantity_addition_options }}'
        const name = '{{ product.name }}'
        const childIsRequired = '{{ product.child_required }}'
        const imgURL = '{{ product.thumb.url }}'
        const productId = '{{ product.pk }}'
        const productPriceUs = '{{ product.price_dollar }}'
        const productPriceEu = '{{ product.price_euro }}'
        const url = '{{ product.get_absolute_url }}'
    </script>
    <script src="{% static 'js/product.js' %}"></script>
    <script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true}</script>
    <script src="https://wow.zamimg.com/widgets/power.js"></script>
{% endblock %}
