{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
{% endblock %}

{% block title %}My Account - ANTORUS{% endblock %}

{% block content %}
    <section class="reset_password_section">
        <div class="container">
            <h2>MY ACCOUNT</h2>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li style="color: white" {% if message.tags %}
                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="reset_password_content">
                <div class="reset_password_block">
                    <p>Lost your password? Please enter your username or email address. You will receive a link to
                        create a
                        new password via email.</p>
                    <form action="{% url 'generatePassword' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <label class="required">Username or email address</label>
                            <input name="username" type="text">
                        </div>
                        <button type="submit">RESET PASSWORD</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}