{% extends 'basic/basic.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/terms_of_service.css' %}">
{% endblock %}

{% block title %}TERMS OF SERVICE - ANTORUS{% endblock %}

{% block content %}
    <section class="terms_of_service_section">
        <div class="container">
            <h2>TERMS OF SERVICE</h2>
            <h4>TERMS OF SERVICE OF ANTORUS.COM WEBSITE</h4>
            <h4>(ANTORUS.COM from now onwards will be called “Site”)</h4>
            <p>The following document is a public offer of services. Whenever the Customer places order, buys or uses
                any service provided by the Site, the Customer automatically agrees with all the conditions listed
                below.</p>
            <h4>Please, read carefully.</h4>
            <p>Even if the Customer will not read the following text, the Customer agrees with following:</p>
            <p>1. The Customer is aware of Public Offer term.</p>
            <p>2. The Customer has fully read, understood and agreed with all the conditions of Public Offer.</p>
            <p>3. The invoice will be created for every single payment for every single service, provided by the
                Site.</p>
            <p>4. All the invoice is created automatically by the Site’s system, in accordance with the Customer’s
                order.</p>
            <p>5. It is the Customer’s responsibility to pay invoice on time.</p>
            <p>The Site is not taking any responsibility for misunderstanding, misreading of the Terms of Services. In
                addition, the Site is not taking any risks for payment or any possible mistakes made by the Customer’s
                fault.</p>
            <br>
            <h4>1. Vocabulary</h4>
            <p>1.1. The Customer is any human being regardless of race, nationality, origin, language, country of
                residence, is anyone who meets the following criteria:</p>
            <p>– Ability to think, speak and understand his/ her actions;</p>
            <p>– Legally or civilly able to be responsible;</p>
            <p>– Anyone who is using services of the Site.</p>
            <p>The Customer has fully read the Public Offer, Site’s services and prices volitionally without any
                exceptions and fully understood everything that mentioned in Terms of Service and fully agree to fulfill
                his part of deal.</p>
            <p>If the payment will be done in interest of third-party person, that third party will be considered as the
                Customer. In this case the original customer takes full responsibility and guarantees that third party
                fulfils all the criteria mentioned above.</p>
            <p>1.2. The Game is any on-line computer game.</p>
            <p>1.3. The Player is the person who plays the game.</p>
            <p>1.4. Game Object is any object inside the Game (including, but not limited to in-game currency, account,
                any game item).</p>
            <p>1.5. Game Account is an account that includes any information about the Customer and/ or his Game.</p>
            <p>1.6. Game Currency is internal Game’s money (gold, coins or any equivalent of in-game money) that are
                used by the Players of the Game to make any purchases within the Game.</p>
            <p>1.7. Game Item is any virtual item (including, but not limited weapons, armor etc.) that used in the
                game.</p>
            <p>1.8. Character Boost are any types of actions done by the Players in order to achieve following:</p>
            <p>– Improve any certain skill of player’s character (including, but not limited by skills, level of
                character, abilities of character) or any other possible characteristics of character.</p>
            <p>– The number of in-game level or rank.</p>
            <p>1.9. The Site is Internet Site hosted under domain ANTORUS.COM, including all the pages of this
                domain.</p>
            <p>1.10. Site’s Owners are the persons who purpose the Offer to the Customer.</p>
            <p>1.11. The Offer (agreement) is document that contains the most important Terms of Service provided by
                Owners of the Site and The Customer who purchase the services.</p>
            <p>1.12. Whenever the Customer is made an order, the agreement is considered to be done and can’t be broken,
                unless service is not provided.</p>
            <p>1.13. Account of Customer is an individual place of the Customer at Site’s website which contains any
                essential information for the Owner (including, but not limited by login, password, account name
                etc.).</p>
            <br>
            <h4>2. Main Conditions</h4>
            <p>2.1. This document is Public Offer between the Site Owner and the Customer who legally will become the
                Client as soon as the Customer will place the order for any service of the Site. As soon as the order
                will be placed the Client automatically agrees with all the terms that are listed below until the moment
                when the deal is complete.</p>
            <p>2.2. The Customer has the right to refuse the deal, in this case the service will not be provided by the
                Site.</p>
            <p>2.3. As soon as the deal is made the customer can not decline the deal unless any of the paragraph 5.3 of
                this Public Offer happened. It is Customer’s responsibility to fully fulfil his part of the deal on
                time. Any circumstances, except the force majeure are not applicable to this Public Offer.</p>
            <p>2.4. This deal is not providing to the Customer any exclusive or partly-exclusive rights for any
                intellectual property that belong to the Owner or third parties. Any materials or information is
                provided exclusively for period of providing service and can not be passed, sold to anyone prior to the
                Site Owner’s permission.</p>
            <p>2.5. The Site or it’s Owner is not under any circumstances responsible for any services that are not
                properly provided. The Customer agrees to take full responsibility and will not blame in any matter the
                Site or it’s Owner for services. Considering the services and its sector, the Site is not taking any
                responsibility for Client’s success in the future (as well as any possible failure) in the game.</p>
            <p>2.6. Whenever the payment is done by third-party, the Site is not responsible for any risks that might be
                caused by unfollowing the Offer’s terms. In such case the only person who is responsible for the risk is
                the one who pays.</p>
            <p>2.7. The Site is not taking any responsibility and are not under any circumstances will be responsible
                for any possible Customer’s debts during process of providing services and have rights to reserve full
                amount of money from the Customer’s card until the service is fully provided.</p>
            <p>2.8. The Site may update its content at any time without any prior announcements. The Customer gives his
                approval to do so by registering Site’s Account at Site’s domain. The Site also has right to change the
                Offer’s conditions, however the changes will be applied after ten days from the publish date.</p>
            <p>2.9. The Site reserves the right without informing the Customer to transfer its obligations to any
                third-party in order to perform ordered activities and services in most effective and efficient way,
                including but not limited the contact information or any other materials etc.</p>
            <p>2.10. It is the Customer’s responsibility to monitor the process of changes, including but not limited
                the pricing, conditions etc. The Customer is taking full responsibility for any negative circumstances
                caused by untimely or outdated information.</p>
            <br>
            <h4>3. Main Rules and Steps for Receiving Services.</h4>
            <p>3.1. In order to receive the services from the Site, the Customer has to make following actions:</p>
            <p>3.1.1. Carefully read and understand the offer.</p>
            <p>3.1.2. Only the orders made at the Site are being serviced. The services are available for all the users.
                The Customer has to choose the service he would like to receive.</p>
            <p>3.1.3. Place the order and fill the necessary fields at the Site, including payment options.</p>
            <p>3.1.4. Pay the invoice on time (not later than one day after placing the order).</p>
            <p>The Site is accepting Online payments a method of payment.</p>
            <p>Personal information provided by the Customer (card details, name and any other personal information) is
                confidential and will not be by any circumstances disclosed. Any data of Customer’s collected by payment
                system is not stored in any way at the Site or its server. The Site only transmitting the data. The
                security of payment is guaranteed by payment system, but not the Site. </p>
            <p>3.1.5. Correctly input all the data and information.</p>
            <p>3.2. The Customer accepts all the terms of service of payment systems whenever he places the order,
                carefully read and understands the terms, payment regulations and refund regulations.</p>
            <p>3.3. For the period of providing the Service, the Customer fully gives access to the Site over his
                account in the Game, in order to give possibility for the Site to perform agreed actions.</p>
            <p>3.3. Site has to:</p>
            <p>3.3.1. As soon as the payment received from the Customer, give access to his private Account.</p>
            <p>3.3.2. Provide to the Customer any additional information, give advice or recommendations about the
                services.</p>
            <p>3.3.3. Provide services on time and in accordance with amount that the Customer ordered.</p>
            <br>
            <h4>4. Confidentiality. Processing of personal data</h4>
            <p>4.1. The Site guarantees the confidentiality of any personal data given by the Customer, including any
                personal account.</p>
            <p>4.2. Whenever the Customer makes a decision to cancel the collaboration with the Site, the Site reserves
                the right to remove all Customer’s personal data and/ or use them at Site’s needs.</p>
            <p>4.3. The Customer provides his permission to the Site for using and processing his personal data for the
                period of receiving the services only.</p>
            <p>4.4. The Site has the right to store some of the Customer’s data of its server for statistic, marketing
                and advertising purpose.</p>
            <br>
            <h4>5. Circumstances of Force Majeure</h4>
            <p>5.1. The Site and the Customer both are free from their obligations of this agreement in case of
                extraordinary circumstances (force majeure).</p>
            <p>5.2. The circumstances of force majeure are: death / liquidation of the party, earthquakes, fires,
                floods, other natural disasters, epidemics, accidents, explosions, military actions, as well as
                legislative changes that entailed the impossibility of fulfilling obligations under the agreement.</p>
            <p>5.3. In case of occurrence of force majeure circumstances for the party to the agreement, such party must
                inform immediately after the accident happened. In this case the period of service might be
                extended.</p>
            <br>
            <h4>6. Liability of Parties, Disagreement Resolution</h4>
            <p>6.1. Both parties are responsible for failing to provide service (for the Site) or to provide payment
                (for the Customer). The conflict shall be resolved in accordance with the legislation of the Russian
                Federation and the terms of this offer (concluded agreement).</p>
            <p>6.2. Any disagreements or claims that popping-up upon this agreement or its performing, changing or
                cancellation during or after expiration shall be resolved at pre-trial order unless impossible to solve,
                they will be subjected to hearing in court at the location of the Site Owners in the manner established
                by the legislation of the Russian Federation.</p>
            <p>The place of hearing is strictly justified by jurisdiction but may be determined by special agreement
                between the Site and the Customer.</p>
            <p>Change of contractual jurisdiction is possible only if it is expressly stipulated by a separate agreement
                between the client and the Site Owners.</p>
            <p>The changing or termination of the agreement can be done by the Customer in case when the Site is not
                responds within the specific time limit which specified in clause 7.4. of this offer.</p>
            <br>
            <h4>7. Term of the Offer</h4>
            <p>7.1. This offer is valid until its withdrawal by the Site.</p>
            <p>7.2. The agreement considered accepted and valid from the moment of its conclusion until its cancellation
                or termination in accordance with the procedure provided for by the current legislation of the Russian
                Federation, as well as this offer (concluded agreement).</p>
            <p>7.3. The moment of accepting the offer by the Customer considered to be the agreement-making.</p>
            <p>7.4. The contract can be cancelled if:</p>
            <p>7.4.1. The Site by any reason cancels, at any time by notifying the Customer one calendar day ahead.</p>
            <p>7.4.2. The Customer by any reason cancels, at any time by notifying the Site one calendar day ahead,
                however all the services provided by the Site must be paid by the Customer and the cost of unprovided
                services must be returned to the Customer.</p>
            <p>7.4.3. At any time by agreement between both Parties.</p>
            <br>
            <h4>8. Other conditions</h4>
            <p>8.1. All legally significant notices and messages under the agreement are sent by the Site and the
                Customer through electronic communication channels that allow to guarantee that information is being
                received from the Site and the Customer by using Internet (including email). </p>
            <p>If necessary, the parties also interact in writing (postal services, courier services or telephone
                etc.</p>
            <p>8.2. Interaction through electronic documents involves sending, receiving and storing legal and other
                information in electronic form using email.</p>
            <p>Any communication done by electronic communication can be used to confirm the fact of obligations of any
                of the parties, including confirmation of the completing the service.</p>
            <p>The email address of the Customer (email) specified by him during registration, as well as the email of
                the Site that reflected at this offer are the main communication channels for this agreement. </p>
            <p>8.3. The electronic copies of documents that are received via mentioned email addresses are having the
                jurisdiction power and are equal to properly executed written documents.</p>
            <p>8.4. In the event of a conflict between a properly executed written document and a document sent by
                email, preference is given to a properly executed written document.</p>
            <p>8.5. Both: the Customer and the Site are responsible for checking the email on daily basis, including
                SPAM folder, in order to have guaranteed monitored channel of interaction and receiving most relevant
                information.</p>
            <p>Any message sent to designated email is considered to be delivered on the day when it was sent.</p>
            <p>Any issue caused by not receiving information or any problem with poor or malfunctioned operation of
                email is full responsibility of the party whose email had the issue.</p>
            <p>Any email sent by mistake by any of the party is considered as truly sent and not mistaken. Any
                responsibility of mis-sending is on the party who send the mistaken email. However, the email can be
                disavowed within 24 hours by sender.</p>
            <p>8.6. The Customer cannot under any circumstances give any the right of claim under any condition to
                third-party.</p>
            <p>8.7. This offer and agreement are governed and interpreted in accordance with the laws of the Russian
                Federation. Questions that are not settled by this offer (concluded by the agreement) are subject to
                resolution in accordance with the legislation of the Russian Federation.</p>
            <br>
            <h4>All services are provided at the client’s risk. Site services may be restricted by the rules of some
                games and the game’s administration may apply sanctions to the Customer’s account. By ordering the
                services from the Site, the Customer takes any risk and aware of possible negative impact on the
                Customer’s account and freeing the Site from any responsibility related to any negative impact.</h4>
        </div>
    </section>
{% endblock %}


{% block scripts %}
{% endblock %}