<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
          rel="stylesheet">
    <style>
        h1, h2, h3, h4, h5, h6, p {
            font-family: 'Lato', sans-serif;
        }
    </style>
</head>

<body>
<div class="es-wrapper-color" style="
        margin: 0;
        padding: 70px 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url('https://antorus.com/static/img/background_email.png')">
    <table cellspacing="0" width="100%" cellpadding="0">
        <tbody>
        <tr>
            <td valign="top">
                <table style="max-width: 600px; width: 100%;" cellspacing="0" cellpadding="0" border="1px"
                       align="center">
                    <tbody>
                    <tr>
                        <td align="center" style="background-color: #0d0f0d;">
                            <img src="https://antorus.com/static/img/logo-2.png">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="background-color: #3a7d16; max-width: 600px; width: 100%" cellspacing="0" cellpadding="0"
                       border="1px" align="center">
                    <tbody>
                    <tr>
                        <td align="left" style="padding-left: 20px;">
                            <h1 style="color: #ffffff;">{{ user }}</h1>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="max-width: 600px; width: 100%;" cellspacing="0" cellpadding="0" align="center"
                       border="1px" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td align="left" style="padding: 15px 20px 15px 20px;">
                            <p style="font-size: 16px; color: #777777;">{{ message }}<br></p>
                            {% if link %}
                            <p style="font-size: 20px;"><a href="{{ link }}" target="_blank">Click here to activate your account</a></p>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="background-color: #3a7d16; height: 50px; max-width: 600px; width: 100%;" cellspacing="0"
                       cellpadding="0" border="1px" align="center">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="" target="_blank" style="margin-right: 5px; color: transparent;">
                                <img style="width: 30px;" src="https://antorus.com/static/img/telegram_email.png">
                            </a>
                            <a href="" target="_blank" style="margin-right: 5px; color: transparent;">
                                <img style="width: 30px;" src="https://antorus.com/static/img/skype_email.png">
                            </a>
                            <a href="" target="_blank" style="margin-right: 5px; color: transparent;">
                                <img style="width: 30px;" src="https://antorus.com/static/img/email_email.png">
                            </a>
                            <a href="" target="_blank" style="margin-right: 5px; color: transparent;">
                                <img style="width: 30px;" src="https://antorus.com/static/img/discord_email.png">
                            </a>
                            <a href="" target="_blank" style="margin-right: 5px; color: transparent;">
                                <img style="width: 30px;" src="https://antorus.com/static/img/link_email.png">
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table style="background-color: transparent; max-width: 600px; width: 100%;" cellspacing="0"
                       cellpadding="0" border="1px" align="center">
                    <tbody>
                    <tr>
                        <td align="center" style="background-color: #0d0f0d;">
                            <p style="color: white;">Antorus.com 24/7 online</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>